{% extends "temp3.html" %}
  {% block style %}
  <link href="/assets/css/circle.css" rel="stylesheet">
  {% endblock %}
  {% load tools2 %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 my-auto">
                    <h4 class="font-weight-600">{{user.username}}</h4>
                    <p>{{user.email}}</p>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center float-right">
                      <img src="/assets/img/elements/admin.png" class="img-fluid">
                      <p class="font-weight-600">Administrator</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-8">
          <h4 class="font-weight-600">Top Listed Active Selling</h4>
        </div>
        <div class="col-md-4">
          <input type="search" class="form-control" placeholder="Search"/>
        </div>
      </div>
      <div class="row">

        {% for prod in products %}
      <div class="col-md-3">
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %}">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <span class="text-orange font-weight-600">{% get_elem prod 'seller' %}</span><sub>Le'</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% get_elem prod 'price'%}
              <br>
             <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} hours</span>
            </h1>
            <p class="product-p">
              Quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline" href="/seller/restock/{% get_elem prod 'productid' %}">Re Stock</a>
              {% get_elem prod 'featured' as feature %}
              {% if feature %}
              <a type="button" class="btn btn-sm btn-submit-outline" href="/seller/feature/{% get_elem prod 'productid' %}">Feature</a>
              {% endif %}            
            </div>
        </div>
      </div>
      {% endfor %}
        
      </div>
    </div>
  </section>
  {% endblock %}