{% extends "temp3.html" %}
  {% block style %}
  <link href="/assets/css/circle.css" rel="stylesheet">
  {% endblock %}
  {% load tools2%}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 my-auto">
                    <h4 class="font-weight-600">{{user.username}}</h4>
                    <p>{{user.email}}</p>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center float-right">
                      <img src="/assets/img/elements/admin.png" class="img-fluid">
                      <p class="font-weight-600">Administrator</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-8">
          <h4 class="font-weight-600">Top Listed Active Seller</h4>
        </div>
        <div class="col-md-4">
          <input type="search" class="form-control" placeholder="Search"/>
        </div>
      </div>
      <div class="row">

        {% for seller in sellers %}
        <div class="col-md-3 mb-2">
          <div class="card {% if seller.banned %} sold-out-card {% endif %}">
            <div class="card-body {% if seller.banned %} sold-out-header {% endif %}">
              <h5 class="font-weight-600">{{ seller.username }}</h5>
              <div class="clearfix">
                <img src="/assets/img/elements/seller_badge.png" class="img-fluid float-left">
                {% get_xp seller as cont%}
                <div class="xp-pad">
                  <span class="font-weight-600 text-orange">{% get_elem cont 2%} </span><span class="font-weight-600">XP ( current: {% get_elem cont 0%} )</span>
                  <br>
                  <span class="product-p">{% get_elem cont 1%} XP to next Level</span>
                </div>
              </div>
              <p class="product-p mt-3">
                Total Trade Completed <br>
                {% get_com_orders seller as como %}
                <span class="text-green font-weight-500">{{como}}</span>
              </p>
              <p class="product-p">
                Total Earned<br>
                {% get_earned seller as earn%}
                <span class="text-orange font-weight-600">{{ earn }} EUR</span>
              </p>
              <p>
                <strong>Rating</strong><br>
                {% get_avg_rating seller as n %}
                {% for x in n %}
                <span><img src="/assets/img/elements/star_fill.png"></span>
                {% endfor %}
                {% comment %} <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_line.png"></span> {% endcomment %}
              </p>
            </div>
            <div class="card-footer {% if seller.banned %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline " href="{% if seller.banned %} /adminpanel/unban/{{seller.username}} {% else %} /adminpanel/ban/{{seller.username}} {% endif %}">{% if seller.banned %} Unban {% else %} Ban {% endif %}</a>
              {% comment %} <a type="button" class="btn btn-sm btn-submit-outline" href="#">Remove</a> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
  {% endblock %}