{% extends "temp.html" %}
{% block body %}

<body>
  <nav class="navbar other-navbar navbar-expand-lg">
    <a class="navbar-brand logo-l-r m-auto" href="#">
      GERMANPLAZA
    </a>
  </nav>
  <section class="my-3">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
          <h1 class="uppercase bold font-oswald">Login to your <span class="orange-text-underlined">german plaza</span> account</h1>
          <form method='post' class="mt-5">
          {% csrf_token %}
            <div class="mb-3">
              <input name='email' type="email" class="form-control sep-form-control form-control-lg" placeholder="demo@gmail.com"/>
            </div>
            <div class="input-group mb-3">
              <input name='password' type="password" class="form-control ig-form-control form-control-lg" placeholder="Password"/>
              <span class="input-group-text sep-input-group-text"><i class="fas fa-eye"></i></span>
            </div>
            <input type="submit" class="btn btn-login" value="Login">
            <span>Do you need an account?</span>
            <a href="/register">Register</a>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

