{% extends "temp3.html" %}
  {% block style %}
  <link href="/assets/css/circle.css" rel="stylesheet">
  {% endblock %}
  {% load tools2 %}
{% block body %}


<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 my-auto">
                    <h4 class="font-weight-600">{{user.username}}</h4>
                    <p>{{user.email}}</p>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center float-right">
                      <img src="/assets/img/elements/admin.png" class="img-fluid">
                      <p class="font-weight-600">Administrator</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Statistics</h4>
            <div class="row">
              <div class="col-md-4">
                <img src="/assets/img/elements/disputedorders.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{disp_count}} Orders</h6>
                <p class="product-p">Disputed Orders</p>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/elements/sellers.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{sel_count}} Sellers</h6>
                <p class="product-p">Total Active Sellers</p>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/elements/vault.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{total_eur}} USD</h6>
                <p class="product-p">Total in Vault</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Message Center</h4>
            {% for msg in msgsss %}
            <div class="row my-2">
              <div class="col-md-8">
                <p class="font-weight-600 mb-0">Dispute ID #{{msg.dispute.id}} ({{msg.sender.username}})</p>
                <h5 class="product-title text-orange">{{msg.message}}</h5>
              </div>
              <div class="col-md-4">
                <a href='/adminpanel/dispute/{{msg.dispute.order.id}}/{{msg.dispute.id}}' class="btn btn-md btn-block btn-pending">Check</a>
              </div>
            </div>
            <div class="border-top"></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12">
          <h4 class="font-weight-600">Active Listing</h4>
        </div>
      </div>
      <div class="row">
      {% for prod in products %}
        <div class="col-md-3">
          <div class="card {% if not prod.admin_list %} sold-out-card {% endif %}">
            <div class="card-header {% if not prod.admin_list %} sold-out-header {% endif %}">
              <div class="float-right">
                <img src="/assets/img/elements/denmark.png" class="img-fluid">
              </div>
            </div>
            <div class="card-body">
              <h5 class="product-title">{{prod.name}}</h5>
              <p class="product-p">
                <span class="text-orange font-weight-600">{{prod.user.username}}</span><sub>Le'</sub> 
                <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                <span class="text-red font-weight-600 ml-2">(-41)</span> 
                <span class="text-light-orange font-weight-600 ml-2">-154</span>
              </p>
              <div class="row">
                <div class="col-md-6">
                  {% comment %} <p class="product-p">
                    Mail Checked <br>
                    <span class="text-green font-weight-500">Yes</span>
                  </p> {% endcomment %}
                </div>
                <div class="col-md-6">
                  <span class="badge {% if prod.admin_list %} badge-success {% else %} badge-danger {% endif %} float-right">{% if prod.admin_list %} Listed {% else %} Unlisted  {% endif %}</span>
                </div>
              </div>
              <p class="product-p">
                Payment Method <br>
                <span class="font-weight-600">BTC</span>
              </p>
              <h1 class="text-center font-weight-600 font-oswald price">
                &#128;{{prod.price}}
                <br>
                <span class="replace-text">Replace time : {{prod.replace_time}} hours</span>
              </h1>
              <p class="product-p">
                Quantity <br>
                <span class="font-weight-600">{% get_count_accounts prod %} available to sell</span>
              </p>
            </div>
            <div class="card-footer {% if not prod.admin_list %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline" href="{% if prod.admin_list %} /adminpanel/unlist/{{prod.productid}} {% else %} /adminpanel/list/{{prod.productid}} {% endif %} ">{% if prod.admin_list %} Unlist {% else %} List {% endif %}</a>
            </div>
          </div>
        </div>
        {% endfor %}
       </div>
        {% comment %} <div class="col-md-3">
          <div class="card sold-out-card">
            <div class="card-header sold-out-header">
              <div class="float-right">
                <img src="/assets/img/elements/denmark.png" class="img-fluid">
              </div>
            </div>
            <div class="card-body">
              <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
              <p class="product-p">
                <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                <span class="text-red font-weight-600 ml-2">(-41)</span> 
                <span class="text-light-orange font-weight-600 ml-2">-154</span>
              </p>
              <div class="row">
                <div class="col-md-6">
                  <p class="product-p">
                    Mail Checked <br>
                    <span class="text-green font-weight-500">Yes</span>
                  </p>
                </div>
                <div class="col-md-6">
                  <span class="badge badge-danger float-right">Sold Out</span>
                </div>
              </div>
              <p class="product-p">
                Payment Method <br>
                <span class="font-weight-600">Unchecked</span>
              </p>
              <h1 class="text-center font-weight-600 font-oswald price">
                &#128;1.00
                <br>
                <span class="replace-text">No Replace time</span>
              </h1>
              <p class="product-p">
                Quantity <br>
                <span class="font-weight-600 text-red">0 available to sell</span>
              </p>
            </div>
            <div class="card-footer sold-out-footer">
              <a type="button" class="btn btn-sm btn-submit-outline" href="#">Re Stock</a>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <a class="btn btn-submit" href="/adminpanel/activesellings">View All</a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-12">
          <h4 class="font-weight-600">Top Listed Active Seller</h4>
        </div>
      </div>
      <div class="row">
      {% for seller in sellers %}
        <div class="col-md-3 mb-2">
          <div class="card {% if seller.banned %} sold-out-card {% endif %}">
            <div class="card-body {% if seller.banned %} sold-out-header {% endif %}">
              <h5 class="font-weight-600">{{ seller.username }}</h5>
              <div class="clearfix">
                <img src="/assets/img/elements/seller_badge.png" class="img-fluid float-left">
                {% get_xp seller as cont%}
                <div class="xp-pad">
                  <span class="font-weight-600 text-orange">{% get_elem cont 2%} </span><span class="font-weight-600">XP ( current: {% get_elem cont 0%} )</span>
                  <br>
                  <span class="product-p">{% get_elem cont 1%} XP to next Level</span>
                </div>
              </div>
              <p class="product-p mt-3">
                Total Trade Completed <br>
                {% get_com_orders seller as como %}
                <span class="text-green font-weight-500">{{como}}</span>
              </p>
              <p class="product-p">
                Total Earned<br>
                {% get_earned seller as earn%}
                <span class="text-orange font-weight-600">{{ earn }} EUR</span>
              </p>
              <p>
                <strong>Rating</strong><br>
                {% get_avg_rating seller as n %}
                {% get_rev_range n as n2 %}
                {% for x in n %}
                <span><img src="/assets/img/elements/star_fill.png"></span>
                {% endfor %}
                {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
                {% comment %} <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_fill.png"></span>
                <span><img src="/assets/img/elements/star_line.png"></span> {% endcomment %}
              </p>
            </div>
            <div class="card-footer {% if seller.banned %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline " href="{% if seller.banned %} /adminpanel/unban/{{seller.username}} {% else %} /adminpanel/ban/{{seller.username}} {% endif %}">{% if seller.banned %} Unban {% else %} Ban {% endif %}</a>
              {% comment %} <a type="button" class="btn btn-sm btn-submit-outline" href="#">Remove</a> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <a class="btn btn-submit" href="/adminpanel/activesellers">View All</a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#active">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#completed">Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Disputed">Disputed</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="active" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for act in active %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.seller.seller_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.seller.seller_negative}})</span>
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-pending">active</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="completed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for act in completed %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.seller.seller_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.seller.seller_negative}})</span> 
                            
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-delivered">completed</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="Disputed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for d in disputes %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{d.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date d.date %}</span>
                        </td>
                        <td>
                        {% get_order d as o %}
                          <h5 class="product-title">{% get_title d %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{o.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{o.seller.buyer_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{o.seller.buyer_negative}})</span> 
                          </p>
                        </td>
                        <td>
                          <a href='/adminpanel/dispute/{{o.id}}/{{d.id}}' class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}