{% extends "temp3.html" %}
{% load tools2 %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">Dispute</a></li>
                  </ol>
                </nav>
              </div>
              {% comment %} <div class="col-md-6">
                <div class="float-right">
                  <a href="" class="btn btn-submit btn-md">New Ticket</a>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-3 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <div class="row my-3">
              <div class="col-md-6">
                <h4 class="font-weight-600">Order ID #{{dispute.id}}</h4>
                <span class="font-small">Date:</span>
                <span class="font-weight-500">15-12-2020</span>
              </div>
              {% if not dispute.solved  %}
              <div class="col-md-6">
              <form method='post' action='/user/marksolved/{{dispute.order.id}}/{{dispute.id}}'>
              {% csrf_token %}
                <div class="float-right">
                  <button type='submit' class="btn btn-solved">Mark as solved</button>
                </div>

                </form>
                <form method='post' action='/user/refund/{{dispute.order.id}}/{{dispute.id}}'>
              {% csrf_token %}
                <div class="float-right">
                  <button type='submit' class="btn btn-solved">Refund</button>
                </div>

                </form>
              </div>
              
              {% comment %} {% elif  not dispute.solved and dispute.seller.username == username%}
              <div class="col-md-6">
                <div class="float-right">
                  <a class="btn btn-solved">Refund</a>
                </div>
              </div> {% endcomment %}
              {% endif %}
              </div>
              
            <div class="row my-4">
              <div class="col-md-6">
                <h4 class="font-weight-600">{% get_title dispute %}</h4>
                <p>
                  {% comment %} <span class="badge badge-light rounded p-2">Paypal</span> {% endcomment %}
                </p>
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <p class="text-center text-orange font-weight-600 font-24 font-oswald price">
                    &#128;{{dispute.order.total}}
                    <br>
                    <span class="replace-text">Replace time : {% get_replace dispute %} hours</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-md-5">
                <p class="product-p bottom-2">Buyer Name</p>
                <p class="product-p">
                  <span class="text-orange font-weight-600">{{dispute.order.seller.username }}</span><sub>Le'</sub> 
                  <span class="text-green font-weight-600 ml-2">(+{{dispute.order.seller.seller_positive}})</span> 
                  <span class="text-red font-weight-600 ml-2">(-{{dispute.order.seller.seller_negative}})</span>   
                </p>
              </div>
              
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Payment Method
                </p>
                <p class="product-p">
                  <span class="font-weight-600">Bitcoin</span>
                </p>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-md-5">
                <p class="product-p bottom-2"> Seller Name</p>
                <p class="product-p">
               <span class="text-orange font-weight-600"> {{dispute.order.buyer.username }}</span><sub>Le'</sub> 
               <span class="text-green font-weight-600 ml-2">(+{{dispute.order.buyer.buyer_positive}})</span> 
                  <span class="text-red font-weight-600 ml-2">(-{{dispute.order.buyer.buyer_negative}})</span> 
                  </p>
              </div>
              
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Payment Method
                </p>
                <p class="product-p">
                  <span class="font-weight-600">Bitcoin</span>
                </p>
              </div>
            </div>
<form  method='post' action='/user/sendmessage/{{dispute.order.id}}/{{dispute.id}}'>
            <!-- CHAT BOX -->
            <div class="row border-top my-4 pt-3">
              
              {% for msg in msgs %}
              {% if msg.fromadmin%}
              <div class="col-md-12">
                   <div class="alert alert-bg-right">
                  <h6 class="font-weight-600">Admin</h6>
                  <p>{{msg.message}}</p>
                </div>
</div>
              {% else %}
<div class="col-md-12">
                 <div class="alert alert-bg-left">
                  <h6 class="font-weight-600">{{msg.sender.username}}</h6>
                  <p>{{msg.message}}</p>
                </div>
</div>
              {% endif %}

              {% endfor %}
               
               
                {% if not solved %}
              
              {% csrf_token %}
              <div class="input-group mt-3">
              
                <input name='message' type="text" class="form-control form-control-chat" placeholder="Type here">
                <div class="input-group-append">
                  <button type='submit' class="btn btn-submit">Send</button>
                </div>
               
              </div>
               
               {% endif %}
            </div>
            <!-- CHAT BOX -->
</form>
            
            
          </div>
        </div>
      </div>
      </div>
  </section>
  {% endblock %}