{% extends "temp3.html" %}
{% load tools2 %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="/user/myorders">My Orders</a></li>
                    <li class="breadcrumb-item active"><a href="#">Order Details</a></li>
                  </ol>
                </nav>
              </div>
              
              <div class="col-md-6">
              <form action='/user/startdispute/{{order.id}}' method='post'>
              {% csrf_token %}
                <div class="float-right">
                  <img src="/assets/img/elements/timer.png" class="img-fluid">
                  <span class="font-small">Time Left:</span>
                  <span class="text-orange font-weight-600">{{timeleft}}</span>
                  {% if order.buyer.username == username and not order.completed and order.status != 'pending' %}
                  

                    <button type='submit' class="btn btn-submit btn-md" href="/user/dispute/1">Dispute Order</button>
                  
                  {% endif %}
                </div>
                </form>
              </div>
              
            </div>
            <div class="row my-3">
              <div class="col-md-6">
                <h4 class="font-weight-600">Order ID #{{order.id}}</h4>
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <span class="font-small">Date:</span>
                  <span class="font-weight-500">{% format_date order.date %}</span>
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-md-6">
                <h4 class="font-weight-600"></h4>
                {% comment %} <p>
                  <span class="badge badge-light rounded p-2">Paypal</span>
                  <span class="badge badge-light rounded ml-2 p-2">Account</span>
                </p> {% endcomment %}
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <p class="text-center text-orange font-weight-600 font-24 font-oswald price">
                    &#128;{{pre_total}}
                    <br>
                    <span class="replace-text">No Replace time</span>
                  </p>
                </div>
              </div>
            </div>
            
            
            
           
            {% for orderd in details %}
            <div class="row my-4">
              <div class="col-md-5">
                <p class="product-p bottom-2">
                  {{order.seller.username}}
                </p>
                <p class="product-p">
                  <span class="text-orange font-weight-600">{{order.seller.username}}</span><sub>Le'</sub> 
                  <span class="text-green font-weight-600 ml-2">(+{{order.seller.seller_positive}})</span> 
                  <span class="text-red font-weight-600 ml-2">(-{{order.seller.seller_negative}})</span> 
                  
                </p>
              </div>
              {% comment %} <div class="col-md-3">
                <p class="product-p bottom-2">
                  Country Account for
                </p>
                <p class="product-p">
                  <img src="/assets/img/elements/denmark.png" class="img-fluid">
                  <span class="font-weight-600 pl-1">Denmark</span>
                </p>
              </div>
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Mail Checked
                </p>
                <p class="product-p text-green">
                  Yes
                </p>
              </div> {% endcomment %}
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Payment Method
                </p>
                <p class="product-p">
                  <span class="font-weight-600">Monero</span>
                </p>
              </div>
            </div>
            <div class="row my-4">
            {% get_orderdetails_childs orderd as delivs%}
            {% for deliv in delivs %}
              <div class="col-md-4">
                <div class="alert alert-bg-light" role="alert">
                  <p class="font-weight-600 bottom-2">Account details:</p>
                  <p class="bottom-2"> {{deliv.content}}</p>
                  {% comment %} <p class="bottom-2">Paypal ID: <span class="font-weight-600">demogmail@gmail.com</span></p>
                  <p class="bottom-2">Password: <span class="font-weight-600">dWhdke@4253</span></p> {% endcomment %}
                </div>
              </div>
              {% endfor %}
              
            </div>
            
            {% endfor %}
            {% if order.buyer.username == username and not order.seller_reviewed and order.completed%}
            <form action='/user/review/{{order.id}}' method='post'>
                  {% csrf_token %}
            <div class="row my-3">
              <div class="col-md-12">
                <h4 class="font-weight-600 text-center mb-3">Order Reviews</h4>
              </div>
              <div class="col-md-6 my-3">
                <textarea name='feedback' cols="4" rows="4" class="form-control">Enter Feedback</textarea>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 my-auto">Review</div>
                  
                  <div class="col-md-6">
                  
                  <input hidden name='seller' value={{order.seller.username}} /> 
                    <div class="rating">
                      <input type="radio" name="rating" value="5" id="5">
                      <label for="5">☆</label> 
                      <input type="radio" name="rating" value="4" id="4">
                      <label for="4">☆</label> 
                      <input type="radio" name="rating" value="3" id="3">
                      <label for="3">☆</label> 
                      <input type="radio" name="rating" value="2" id="2">
                      <label for="2">☆</label> 
                      <input type="radio" name="rating" value="1" id="1">
                      <label for="1">☆</label>
                    </div>
                    <input type="submit" name="" class="btn btn-submit" value="Submit Review">
                  </div>

                  

                  <div class="invalid-feedback" style="{% if  feedbackerror %} display: block; {% else %} display:none; {% endif %}">
                      Please submit a correct review
                    </div>
                </div>
                </div>
                </div>
                </form>
            {% endif %}
            
           
              {% if order.buyer.username != username and not order.buyer_reviewed and order.completed %}
              <form action='/user/review/{{order.id}}' method='post'>
              <div class="row my-3">
              <div class="col-md-12">
                <h4 class="font-weight-600 text-center mb-3">Order Reviews</h4>
              </div>
              <div class="col-md-6 my-3">
                <textarea name='feedback' cols="4" rows="4" class="form-control">Enter Feedback</textarea>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 my-auto">Review</div>
                  
                  <div class="col-md-6">
                  
                  {% csrf_token %}
                  <input hidden name='buyer' value={{order.buyer.username}} /> 
                    <div class="rating">
                      <input type="radio" name="rating" value="5" id="5">
                      <label for="5">☆</label> 
                      <input type="radio" name="rating" value="4" id="4">
                      <label for="4">☆</label> 
                      <input type="radio" name="rating" value="3" id="3">
                      <label for="3">☆</label> 
                      <input type="radio" name="rating" value="2" id="2">
                      <label for="2">☆</label> 
                      <input type="radio" name="rating" value="1" id="1">
                      <label for="1">☆</label>
                    </div>
                    <input type="submit" name="" class="btn btn-submit" value="Submit Review">
                  </div>

                  

                  <div class="invalid-feedback" style="{% if  feedbackerror %} display: block; {% else %} display:none; {% endif %}">
                      Please submit a correct review
                    </div>
                </div>
                </div>
                </div>
                </form>
                {% endif %}
                        {% if not order.released and order.status != 'pending' and order.buyer.username == username %}
                <div class="row my-3">        
              <div class="col-md-12 text-center my-4">
              <form method='post'>
              {% csrf_token %}
              <input name='orderid' value='{{order.id}}' hidden>
                <input type="submit" name="" class="btn btn-submit" value="Release Escrow">
              </form>             
              </div>
              
            </div>
          {% elif order.status != 'pending' and order.completed %}

            <div class="row">
              <div class="col-md-12 my-2">
                <div class="alert alert-order-completed py-4">
                  <img src="/assets/img/elements/order.png"> Order Completed
                </div>
              </div>
            </div>
          {% endif %}

          </div>
        </div>
      </div>
      </div>
  </section>
 {% endblock %}