{% extends 'temp3.html' %}
{% load tools2 %}
{% block body %}
<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
          {% for ticket in tickets %}
            <div class="row border-bottom mb-2">
              <div class="col-md-10">
                <p class="font-weight-600 mb-0">Ticket ID #{{ticket.id}}</p>
                <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date ticket.date %}</span>
                <p class="product-title mb-0">{{ ticket.title }}</p>
                <p class="product-p tb-f-small">
                 {{ticket.details}}
                </p>
                {% comment %} <a href = '/media/{{ticket.file}}' class="btn btn-md btn-pending " style='margin: 10px 0px'> Joined File </a> {% endcomment %}
                
              </div>
              <div class="col-md-2">
                <a href='/adminpanel/markassolved/{{ticket.id}}' class="btn btn-md btn-delivered">Mark as Solved</a>
              </div>
            </div>
        {% endfor %}
           
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
