{% extends 'temp3.html' %}
{% load tools2 %}
{% block body %}

<section class="my-3">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="box">
            <h4 class="py-3 font-weight-bold">Change Password</h4>
            <form action="" method='post'>
            {% csrf_token %}
              <div class="mb-3">
                <label>New Password</label>
                <input name='pass' type="Password" class="form-control" placeholder="New Password"/>
              </div>
              <div class="mb-3">
                <label>Confirm Password</label>
                <input name='confpass' type="Password" class="form-control" placeholder="Confirm Password"/>
              </div>
              {% if errpass %}
              <div class="invalid-feedback" style="{% if btcerror %} display: block; {% else %} display:none; {% endif %}">
                      {{msg}}
                    </div>
                {% endif %}
              <div>
                <input type="submit" class="btn-submit" value="Update">
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <h4 class="py-3 font-weight-bold">Update Balance</h4>
            <form action="" method='post'>
            {% csrf_token %}
            <div class="mb-3">
              <label>Bitcoin(BTC)</label>
              <input type="text" name='balance' class="form-control font-oswald" value='{{usr.activebalance}}' placeholder="00.00 BTC"/>
            </div>
            {% if errbal %}
              <div class="invalid-feedback" style="{% if btcerror %} display: block; {% else %} display:none; {% endif %}">
                      {{msg}}
                    </div>
                {% endif %}
            <div class="mt-4">
              <input type="submit" class="btn-md btn-submit" value="Update">
            </div>
            </form>

             <h4 class="py-3 font-weight-bold">Update PIN</h4>
            <form action="" method='post'>
            {% csrf_token %}
            <div class="m-auto">
                      <label class="font-weight-600 my-2">PIN</label>
                      <div class="row">
                        <div class="col m-auto text-center">
                          <input name='addpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                      </div>
                      <div class="invalid-feedback" style="{% if  pinaddrerror %} display: block; {% else %} display:none; {% endif %}">
                      PIN incorrect
                      </div>
                    </div>
                    <div class="mt-4">
              <input type="submit" class="btn-md btn-submit" value="Update">
            </div>

                    </form>
          </div>
        </div>
        
      </div>
    </div>
  </section>

{% endblock %}