{% extends 'temp3.html' %}
{% load tools2 %}
{% block body %}

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Users</th>
                        <th>Balance</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for usr in usrs %}
                      <tr>
  
                        <td><a href='/user/publicprofile/{{usr.id}}'  >{{usr.username}}</a></td>
                        <td class="font-oswald text-orange">{{usr.activebalance}} BTC</td>
                        <td><a class="btn btn-sm btn-submit-outline" href="/adminpanel/useredit/{{usr.id}}">Change</a></td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}