@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css');

body {
	background: #ffffff;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #212529;
	font-weight: 400;
	font-size: 16px;
	word-break: break-word;
}

.font-ibm {
	font-family: 'IBM Plex Sans', sans-serif;
}

.font-oswald {
	font-family: 'Oswald', sans-serif;
}

h1 {
	line-height: 1.5
}

.logo-color {
	color: #dbd4f5;
}

.page-head {
	font-size: 2.44rem;
}

.bid-timer-font {
	font-size: 5rem;
	font-weight: 900;
}

.bold {
	font-weight: 600;
}

.uppercase {
	text-transform: uppercase;
}

a {
	color: #3300FF;
	font-weight: 600;
}

a:hover {
  color: #1d028a;
}

.btn {
	margin: 0;
}

.btn.btn-sm {
	padding: .5rem 1rem;
}

.topnavbar {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #2B2834;
}

.middle-navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #3300FF;
}

.bottom-navbar {
	padding-top: 1rem;
	padding-bottom: 4rem;
	background: #3300FF;
}

.other-navbar {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	background: #3300FF;
}

.logo-l-r {
	font-size: 4rem;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

.logo-other {
	font-size: 2rem;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}

.search-menu {
	background: #2B2834;
	border: 1px solid #2B2834;
	height: calc(1.5em + .75rem + 12px);
	color: #ffffff;
}

.search-menu:focus {
	background: #2B2834;
	border: 1px solid #2B2834;
	outline: 0;
}

.search-menu::-webkit-input-placeholder {
	color: #ffffff;
}
.search-menu::-moz-placeholder { /* Firefox 19+ */
	color: #ffffff;
}
.search-menu:-ms-input-placeholder { /* IE 10+ */
	color: #ffffff;
}
.search-menu:-moz-placeholder { /* Firefox 18- */
	color: #ffffff;
}

.groupinput {
	background-color: #2b2834;
    border: 1px solid #2B2834;
    border-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    outline: 0;
}

.navbar {
	box-shadow: none;
	background: #0a022d!important;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255);
    text-transform: UPPERCASE;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #ffffff;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
}

.navbar .nav-item .active {
    color: #3300FF;
}

.dropdown-menu {
	background: #2B2834;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
	border-radius: 12px;
	width: 285px;
}

.dropdown-item {
	white-space: normal;
}

.dropdown:HOVER .dropdown-menu {
	display: block;
}

.msg-notify {
	background: #ffffff!important;
}

.msg-notify>ul {
	list-style: none;
}

.navbar .dropdown-menu a {
	color: #FFFDFC;
	font-weight: 500;
	font-size: 16px;
	padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.navbar .dropdown-menu a:HOVER {
	background: transparent;
	color: #ffffff;
}

.navbar .dropdown-menu a:ACTIVE {
	background: transparent;
	color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparent!important;
}

.light-font {
	font-weight: 300!important;
    font-size: 14px!important;
}

.light-font-700 {
	font-weight: 700!important;
    font-size: 14px!important;
}

.navbar .dropdown-menu form {
    width: 100%;
}
/*mobile menu*/

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #f86b00;
    border: 1px solid #ff6a06;
    border-radius: 8px;
}

.close {
	opacity: 1;
	font-size: 3rem;
	text-shadow: none;
}

.modal-dialog .modal-content, .sidemenu-item {
	background: #3300FF;
}

footer {
	background: #0a022d;
	color: #D9DBE1;
	padding-top: 2rem;
    padding-bottom: 2rem;
}

footer a.text-grey {
	font-weight: 500;
}

/*LOGIN & Register*/

.orange-text-underlined {
	color: #3300FF;
	border-bottom: 2px solid #3300FF;
}

.text-orange {
	color: #3300FF!important;
}

.text-grey {
	color: #D9DBE1;
}

.text-green {
	color: #39B54A;
}

.text-red {
	color: #FF4B55;
}

.text-light-orange {
	color: #FF9F20;
}

.font-weight-400 {
	font-weight: 400!important;
}

.font-weight-500 {
	font-weight: 500!important;
}

.font-weight-600 {
	font-weight: 600!important;
}

.tb-f-small {
	font-size: 0.8rem !important;
}

/*.mt--10{
    margin-top: -10px!important;
}*/

.form-control {
	color: #3300FF!important;
	font-weight: 400!important;
}

.sep-form-control {
	color: #3300FF;
	background-color: transparent;
    border: 2px solid #ebebeb;
	border-radius: 8px;
	height: calc(1.5em + 2rem + 2px);
	font-size: 18px;
}

.pin-form-control {
	color: #3300FF;
	background-color: transparent;
    border: 2px solid #ebebeb;
	border-radius: 8px;
	font-size: 30px;
	font-weight: 700;
	height: calc(1.5em + 2rem + 2px);
	text-align: center;
}

.ig-form-control {
	color: #3300FF;
	background-color: transparent;
    border: 2px solid #ebebeb;
	border-right: 0;
	border-radius: 8px;
	height: calc(1.5em + 2rem + 2px);
	font-size: 18px;
}

.select-form-control {
	font-weight: 600;
	font-size: 14px;
	height: calc(1.5em + 0.75rem + 8px);
	border-radius: 10px;
}

.sep-input-group-text {
	color: #9794A6;
	background-color: transparent;
    border: 2px solid #ebebeb;
    border-left: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control-chat {
	height: calc(1.5em + 0.75rem + 6px)!important;
}

.btn-login {
	background: #3300FF;
	border-radius: 12px;
	padding: 1rem 3.4rem;
	color: #ffffff;
	box-shadow: none;
	font-weight: 600;
	text-transform: capitalize;
}

/*MY SUPPORT*/

.box {
	background: #FFFFFF;
	box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding-top: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: -65px;
}

.box-bottom {
	background: #FFFFFF;
    box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-back {
	background: #F8F8F8;
	border: 1px solid #EBEBEB;
	padding: 0.5rem 4rem;
	box-shadow: none;
	font-weight: 600;
	text-transform: capitalize;
	color: #3300FF;
	font-size: 16px;
	border-radius: 8px;
}

.btn-submit {
	background: #3300FF;
	box-shadow: 0px 5px 40px rgba(255, 107, 0, 0.2);
	border-radius: 8px;
	padding: 0.55rem 4rem;
	font-weight: 600;
	text-transform: capitalize;
	color: #FFFDFC!important;
	font-size: 16px;
	border: 1px solid #3300FF;
}

.btn-ig-submit {
	background: #3300FF;
	box-shadow: 0px 5px 40px rgba(255, 107, 0, 0.2);
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-transform: uppercase;
	color: #FFFDFC!important;
	border: 1px solid #3300FF;
	font-weight: 700;
}

.btn-submit-outline {
	background: transparent;
	box-shadow: 0px 5px 40px rgba(255, 107, 0, 0.2);
	border-radius: 8px;
	font-weight: 600;
	text-transform: capitalize;
	color: #3300FF!important;
	border: 1px solid #3300FF;
}

.btn-solved {
	background: transparent;
	box-shadow: none;
	border-radius: 8px;
	font-weight: 600;
	text-transform: capitalize;
	color: #3300FF!important;
	border: 1px solid #DFDEDE;
}

.btn-delivered {
	box-shadow: none;
	border-radius: 8px;
	font-weight: 600;
	text-transform: capitalize;
	color: #27AE60!important;
	background: #F7FFF8;
	border: 1px solid #DFDEDE;
}

.btn-pending {
	box-shadow: none;
	border-radius: 8px;
	font-weight: 600;
	text-transform: capitalize;
	color: #F2994A!important;
	background: #FFFAE3;
	border: 1px solid #DFDEDE;
}

.btn-pay-coin {
	background: transparent;
	box-shadow: none;
	border-radius: 8px;
	font-weight: 600;
	text-transform: capitalize;
	color: #3300FF!important;
	border: 1px solid #DFDEDE;
	margin-right: 10px;
}

.btn-pay-coin.active {
	border: 1px solid #3300FF;
}

.btn-news {
	background: #FFFFFF;
	border: 1px solid #DFDEDE;
	padding: 0.5rem 4rem;
	box-shadow: none;
	font-weight: 600;
	text-transform: capitalize;
	color: #3300FF;
	font-size: 16px;
	border-radius: 10px;
}

.btn-menu-reg {
	background: #3300FF;
	box-shadow: 0px 5px 40px rgba(255, 107, 0, 0.2);
	border-radius: 8px;
	padding: 0.5rem 2rem;
	font-weight: 600;
	text-transform: capitalize;
	color: #FFFDFC;
	border: 0;
}

.btn-cart {
    background-color: #2b2834;
    border: none;
    box-shadow: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.btn-danger {
	border-radius: 8px;
}

hr {
	border-bottom: 1px solid #F2F2F2;	
}

table th {
    font-size: 1rem;
    font-weight: 600;
}

table td {
    font-size: .9rem;
    font-weight: 600;
}

/*PRODUCTS*/

.alert-success {
	color: #39B54A;
    background-color: #E6FFE9;
    border-color: #E6FFE9;
    font-weight: 600;
}

.alert-success .alert-link {
	color: #5ca0f2;
}

.alert-light {
	background: #F9F9F9;
	border-radius: 6px;
	color: #3300FF;
	letter-spacing: 0.18em;
	font-weight: 600;
	display: inline-block;
}

.alert-bg-light {
	background: #FAFAFA;
	border-radius: 10px;
	color: #3300FF;
	font-weight: 400;
}

.alert-order-completed {
	background: #FFF1E7;
	border-radius: 10px;
	color: #3300FF;
	font-weight: 600;
	text-align: center;
}

.alert-bg-left {
	background: #F5F4F4;
	border: 1px solid #DFDEDE;
	border-radius: 10px;
	width: 70%;
}

.alert-bg-right {
	background: #FFE6D3;
	border: 1px solid #DFDEDE;
	border-radius: 10px;
	width: 70%;
	float: right;
}

.alert-bg-navdrop {
	background: #F5F4F4;
	border: 1px solid #DFDEDE;
	border-radius: 10px;
}

.card {
	border-radius: 10px;
	box-shadow: 0px 10px 51px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.card-header:first-child {
    border-radius: 10px 10px 0 0;
}

.card-header {
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: none;
}

.card-footer {
    background-color: #ffffff;
    border-top: none;
    text-align: center;
}

.sold-out-card, .sold-out-header, .sold-out-footer {
	background: #F5F5F5!important;
}

.banned-card, .banned-footer {
	background: #ffe5e5!important;
}

.featured-card, .featured-header, .featured-footer {
	background: #d6ffe7!important;
}

.sticky-card, .sticky-header, .sticky-footer {
	background: #c1c1c1!important;
}

.product-title {
	font-size: 14px;
	font-weight: 600!important;
}

.product-p {
	font-size: 12px;
}

.badge-success {
	background: #27AE60;
	font-weight: 600;
}

.badge-cart {
	font-size: 100%!important;
	background: #3300FF!important;
}

.badge-notify {
	background: #3300FF!important;
}

.replace-text {
	font-size: 12px;
	font-weight: 500;
	color: #D3D3D3;
}

.price {
	line-height: 0.6!important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.border-top-bottom {
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.border-bottom {
	border-bottom: 1px solid #ececec;
}

.border-top {
	border-top: 1px solid #ececec;
}

.border-right {
	border-right: 1px solid #ececec;
}

.bottom-2 {
	margin-bottom: 2px;
}

.breadcrumb {
	background: transparent;
	padding: 0;
}

.breadcrumb-item {
	border: 1px solid #DFDEDE;
    padding: 0.6rem 0.75rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    height: calc(1.5em + 0.75rem + 8px);
}

.breadcrumb-item a {
	color: #3300FF;
}

.breadcrumb-item.active a {
	color: #3300FF;
}

.breadcrumb-item::after {
    display: inline-block;
    padding-left: 2rem;
    color: #3300FF;
    content: ">";
}

.breadcrumb-item + .breadcrumb-item::before {
	display: none;
}

.font-20 {
	font-size: 20px !important;
}

.font-24 {
	font-size: 24px !important;
}

.border-bottom {
	border-bottom: 1px solid #F2F2F2
}

.text-pending {
	color: #FF9F20;
}

.text-confirm {
	color: #39B54A;
}

.text-cancle {
	color: #FF4B55;
}

.text-linethrough {
	text-decoration: line-through;
}

.qr-code {
	background: #F9F9F9;
	border-radius: 6px;
	padding: 30px;
}

/*RATING*/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1.5rem;
    color: #3300FF;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


/*DASHBOARD*/

.xp-pad {
	padding-left: 3.5rem;
}

.nav-pills > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-pills {
    text-align:center!important;
}

.nav-pills .nav-link.active {
	color: #3300FF;
    background-color: transparent;
    border-bottom: 4px solid #3300FF;
}

.nav-pills .nav-link {
	border-radius: 0;
    color: #3300FF;
}

.nav-pills-nav {
	display: block!important;
}

/*DASHBOARD*/

.blockquote p {
	padding: 0rem 0;
	font-size: 1.5rem;
}




@media only screen and (max-width: 600px) {
}







// Small devices (landscape phones, 576px and up)
@media only screen and (max-width: 768px) {
	.hide-mobile {
		display: none!important;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }