{% extends "temp2.html" %}
  {% block style %}
  <link href="/assets/css/circle.css" rel="stylesheet">
  {% endblock %}
  {% load tools %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-8 border-right">
                <div class="row">
                  <div class="col-md-6 my-auto">
                    <h4 class="font-weight-600">{{username}}</h4>
                    <p>{{email}}</p>
                  </div>
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <img src="/assets/img/elements/top_seller.png" class="img-fluid">
                      <p class="font-weight-600">Seller</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="clearfix">
                      <img src="/assets/img/elements/seller_badge.png" class="img-fluid float-left">
                      <div class="xp-pad">
                        <span class="font-weight-600 text-orange">{{lvlxp}} </span><span class="font-weight-600">XP ( Level : {{lvl}} )</span>
                        <br>
                        <span class="product-p">{{rem}} XP to next Level</span>
                        
                      </div>
                    </div>
                  </div>

                  {% if upgradable and rem == 0 %}
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="/seller/upgradeseller" class="btn btn-solved btn-md">
                        <img src="/assets/img/elements/seller_upgrade.png"> Upgrade to next level
                      </a>
                      <div class="font-weight-600 product-p mt-1">
                        Upgrade cost is
                        <span class="text-orange font-weight-bold"> {{up_cost}}</span> EUR
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% comment %} <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="" class="btn btn-solved btn-md disabled">
                        Upgraded
                      </a>
                    </div>
                  </div> {% endcomment %}
                </div>
                
                {% comment %}
                {% if upgradable and rem == 0 %}
                 <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="clearfix">
                      
                      <div class="xp-pad">
                        <span class="font-weight-600">Upgrade cost is</span>
                        <br>
                        <span class="product-p">  <span class="font-weight-600 text-orange">{{up_cost}}</span> EUR</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="/seller/upgradeseller" class="btn btn-solved btn-md">
                        <img src="/assets/img/elements/seller_upgrade.png"> Upgrade to next level
                      </a>
                     
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endcomment %}
              </div>
              <div class="col-md-4">
                <div class="row">
                 <div class="col-md-12 my-auto">
                    <div class="font-24">
                      <span class="text-orange light-font-700">
                        Balance
                      </span>
                      <span class="font-weight-600 font-oswald pl-5">
                        {{balanceusd}} EUR
                      </span>
                      <br>
                      <span class="light-font-700">
                        <img src="/assets/img/elements/bitcoin.png" class="img-fluid"> {{balancebtc}} BTC
                      </span>
                     {% comment %}  <span class="pl-3 light-font-700">
                        <img src="/assets/img/elements/xmr.png" class="img-fluid"> 0.045 XMR
                      </span> {% endcomment %}
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-md-12 my-auto">
                    <div class="font-24">
                      <a href='/user/deposit'>
                      <span class="light-font-700">
                        <img src="/assets/img/elements/deposit.png" class="img-fluid"> Deposit
                      </span>
                      </a>
                      <a href='/user/withdraw'>
                      <span class="pl-5 light-font-700">
                        <img src="/assets/img/elements/withdraw.png" class="img-fluid"> Withdraw
                      </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Overview</h4>
            <div class="row">
              
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int com_rate %} small">
                  <span>{{com_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Trade completed</p>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int act_rate %} small">
                  <span>{{act_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Transaction process</p>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int disp_rate %} small">
                  <span>{{disp_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Disputed trade</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Rating Overview</h4>
            <div class="row">
              <div class="col-lg-3">
                <div class="c100 p{{score_perc}} small">
                  <span>{{avg_score}}</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Positive Rating</p>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6 my-auto product-p">Seller Rating</div>
                  <div class="col-md-6">
                    <div class="rating">
                    {% get_int avg_score as score%}
                    {% if  score == 5 %}
                      <input type="radio" name="rating" checked='checked' value="5" id="5">
                      <label for="5">☆</label> 
                    {% else %}
                     <input type="radio" name="rating" value="5" id="5">
                      <label for="5">☆</label> 

                      {% endif %} 

                      {% if  score == 4 %}
                      <input type="radio" name="rating" checked='checked' value="4" id="4">
                      <label for="4">☆</label>
                    {% else %}
                     <input type="radio" name="rating" value="4" id="4">
                      <label for="4">☆</label>

                      {% endif %} 
                      {% if  score == 3  %}
                      <input type="radio" name="rating" checked='checked' value="3" id="3">
                      <label for="3">☆</label>  
                    {% else %}
                     <input type="radio" name="rating" value="3" id="3">
                      <label for="3">☆</label> 

                      {% endif %} 

                      {% if  score == 2 %}
                      <input type="radio" name="rating" checked='checked' value="2" id="2">
                      <label for="2">☆</label> 
                    {% else %}
                     <input type="radio" name="rating" value="2" id="2">
                      <label for="2">☆</label> 

                      {% endif %} 

                      {% if  score == 1 %}
                      <input type="radio" name="rating" checked='checked' value="1" id="1">
                      <label for="1">☆</label> 
                    {% else %}
                     <input type="radio" name="rating" value="1" id="1">
                      <label for="1">☆</label> 

                      {% endif %} 
                       
                      
                      
                      
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Statistics</h4>
            <div class="row">
              <div class="col-md-4">
                <img src="/assets/img/elements/trade.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{com_trades}} TRADES</h6>
                <p class="product-p">Total Trade Completed</p>
              </div>
              {% comment %} <div class="col-md-4">
                <img src="/assets/img/elements/spend.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">754.55 USD</h6>
                <p class="product-p">Total Spend</p>
              </div> {% endcomment %}
              <div class="col-md-4">
                <img src="/assets/img/elements/earned.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{earned}} USD</h6>
                <p class="product-p">Total Earned</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Message Center</h4>
            {% for notif in notifss %}
            <div class="row my-2">
              <div class="col-md-8">
                {% comment %} <p class="font-weight-600 mb-0">Order ID #4567</p> {% endcomment %}
                <h5 class="product-title text-orange">{{notif.content}}</h5>
              </div>
              <div class="col-md-4">
                <a href='{{notif.url}}' class="btn btn-md btn-block btn-pending">Check</a>
              </div>
            </div>
            <div class="border-top"></div>
            {% endfor %}
            {% comment %} <div class="row my-2">
              <div class="col-md-8">
                <p class="font-weight-600 mb-0 text-linethrough">Order ID #4567</p>
                <h5 class="product-title text-linethrough">Amazon mixxed mailgrabbed</h5>
              </div>
              <div class="col-md-4">
                <a class="btn btn-md btn-block btn-delivered">Solved</a>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        {% for prod in products %}
      <div class="col-md-3">
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %}">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <span class="text-orange font-weight-600">{% get_elem prod 'seller' %}</span><sub>Le'</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
             <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} minutes</span>
            </h1>
            <p class="product-p">
              Quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline" href="/seller/restock/{% get_elem prod 'productid' %}">Re Stock</a>
              {% get_elem prod 'sticked'  as f%}
              {% if not f %}
              <a type="button" class="btn btn-sm btn-submit-outline" href="/seller/stick/{% get_elem prod 'productid' %}">stick</a>
              <p class="tb-f-small mb-0">You need <span class="font-oswald font-weight-600">{{stickprice}}</span> EUR to stick this product.</p> 
              {% endif %}    

                     
            </div>
             
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-submit" href="/seller/newselling">New Selling</a>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#deposit">Deposit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#withdraw">Withdraw</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="deposit" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Value</th>
                        <th scope="col">TXID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tr in deposit_trs %}
                      <tr>
                        <td>{% format_date tr.date %}</td>
                        <td>BTC</td>
                        <td>{{ tr.amount }} </td>
                        <td><span class="text-orange">{{ tr.txid }}</span></td>
                        <td><span class="text-orange">{{ tr.address }}</span></td>
                        <td>{% if tr.confirmed %}<span class="text-confirm">Confirmed</span> {% else %} <span class="text-cancle">Not Confirmed {% endif %}</span></td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="withdraw" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Value</th>
                        <th scope="col">TXID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tr in withdraw_trs %}
                      <tr>
                        <td>{% format_date tr.date %}</td>
                        <td>BTC</td>
                        <td>{{ tr.amount }} </td>
                        <td><span class="text-orange">{{ tr.txid }}</span></td>
                        <td><span class="text-orange">{{ tr.address }}</span></td>
                        <td>{% if tr.sent %}<span class="text-confirm">Sent</span> {% else %} <span class="text-cancle">Pending {% endif %}</span></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#active">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#completed">Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Disputed">Disputed</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="active" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                    {% for act in active %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.buyer.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.buyer.buyer_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.buyer.buyer_negative}})</span>
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-pending">active</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="completed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                    {% for act in completed %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.buyer.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.buyer.buyer_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.buyer.buyer_negative}})</span> 
                            
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-delivered">completed</a>
                        </td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="Disputed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                     {% for d in disputed %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{d.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date d.date %}</span>
                        </td>
                        <td>
                        {% get_order d as o %}
                          <h5 class="product-title">{% get_title d %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{d.order.buyer.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{d.order.buyer.buyer_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{d.order.buyer.buyer_negative}})</span> 
                          </p>
                        </td>
                        <td>
                          <a href='/user/dispute/{{o.id}}/{{d.id}}' class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}