{% extends "temp2.html" %}
{% load tools %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-5">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">My Sellings</a></li>
                  </ol>
                </nav>
              </div>
              {% comment %} <div class="col-md-7">
                <div class="row">
                  <div class="col-md-4 mb-2">
                    <select class="form-control select-form-control">
                      <option selected>Mail Checked</option>
                    </select>
                  </div>
                  <div class="col-md-4 mb-2">
                    <select class="form-control select-form-control">
                      <option selected>Country</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-submit">Filter</button>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        {% for prod in products %}
      <div class="col-md-3">
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %}">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <span class="text-orange font-weight-600">{% get_elem prod 'seller' %}</span><sub>Le'</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
              
            </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} minutes</span>
            </h1>
            <p class="product-p">
              Quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
              <a type="button" class="btn btn-sm btn-submit-outline" href="/seller/restock/{% get_elem prod 'productid' %}">Re Stock</a>
            </div>
        </div>
      </div>
      {% endfor %}
        
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-submit" href="/seller/newselling">New Selling</a>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}