{% extends "temp2.html" %}
{% block body %}
{% load tools %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">New Selling</a></li>
                  </ol>
                </nav>
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <a href="/seller/dashboard" class="btn btn-solved">Cancel</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="py-3 font-weight-bold">Product Details</h4>
                <form method = 'post'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                      	<label>Category</label>
                        <select name='catid' class="form-control">
                          <option disabled>Category</option>
                          {% for cat in cats %}
                          <option value='{{cat.id}}' {% if catid == cat.id %} selected = 'selected' {% endif %} >{{cat.category_name}}</option>
                          {% endfor %}                      
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>Replace time in minutes</label>
                        <input name='replace' value='{{replace}}' type="number" class="form-control" placeholder="Replace time in minutes"/>
                      </div>
                    </div>
                    </div>
                  <div class="mb-3">
                    <label>Name</label>
                    <input name = 'name' type="text" value='{{pname}}' class="form-control" placeholder="Name"/>
                  </div>
                  {% comment %} <div class="mb-3">
                    <input name='tags' type="text" value='{{tags}}' class="form-control" placeholder="Tags ex : tag1,tag2..."/>
                  </div>
                  <div class="mb-3">
                    <textarea name='details' value ='{{details}}' class="form-control" rows="5">{{details}}</textarea>
                  </div>
                  <div class="mb-3">
                    <textarea name='extra' value='{{extra}}' class="form-control" rows="5">{{extra}}</textarea>
                  </div> {% endcomment %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>Payment Type</label>
                        <select name='payment' class="form-control">
                          <option>Payment Type</option>
                          <option value='btc' {% if pay == 'btc' %} selected = 'selected' {% endif %} >xmr</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label>Price in €</label>
                        <input name='price' value='{{price}}' type="text" class="form-control" placeholder="Price"/>
                      </div>
                    </div>
                    {% comment %} <div class="col-md-4">
                      <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Quantity"/>
                      </div>
                    </div> {% endcomment %}
                  </div>
                  <div class="my-2 float-right">
                    <input type="submit" class="btn btn-md btn-submit-outline" value="Submit">
                  </div>
                </form>
              </div>
            </div>
            {% if shown %}
            <div class="row my-3 border-top">
              <div class="col-md-12">
                <h4 class="py-3 font-weight-bold">Account Details</h4>
                {% comment %} <p> You can upload in bulk with each entry in new line following this format : <br> <span class='font-weight-bold'> {{format}} </span> </p> {% endcomment %}
                <form method='post' action="/seller/addaccount">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4">
                    <div class="mb-3">
                        <input name='separator' type="text" class="form-control" placeholder="Separator ','"/>
                      </div>
                      <div class="mb-3">
                       {% comment %}  <input name='email' type="text" class="form-control" placeholder="Email"/> {% endcomment %}

                      <textarea name='data' class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                    {% comment %} <div class="col-md-4">
                      <div class="mb-3">
                        <input name='password' type="text" class="form-control" placeholder="Password"/>
                      </div>
                    </div>
                     {% endcomment %}
                     <div class="col-md-4">
                      <div class="mb-3">
                        <input type="submit" class="btn btn-md btn-submit-outline" value="Save">
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                {% for acc in accs %}
                  <div class="col-md-4 mb-1">
                    <div class="alert alert-bg-light">
                      <h5>Account</h5>
                      {% for ac in acc %}
                      <p class="mb-0"><strong>{{ ac }}</strong></p>
                      {% endfor %}
  
                    </div>
                  </div>

                {% endfor %}
                  
                </div>
                  <form method='post' action='/seller/confirm'>
                  {% csrf_token %}
                    <div class='row my-4'>
                      <div class="col-md-12">
                      <div class="text-center">
                        <input type="submit" class="btn-submit" value="Confirm">
                      </div>
                    </div>
                    </div>
                </form>


              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}