{% extends "temp2.html" %}
{% load tools %}
{% block body %}


<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="row">
              <div class="col-md-8">
                <h4 class="font-weight-600">{{u.username}}</h4>
                <p>{{u.email}}</p>
                <div class="clearfix">
                  <img src="/assets/img/elements/seller_badge.png" class="img-fluid float-left">
                  <div class="xp-pad">
                   <span class="font-weight-600">Level : </span> <span class="font-weight-600 text-orange">{{lvl}} </span>
                    <br> 
                    {% comment %} <span class="product-p">{{lvl}}</span> {% endcomment %}
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center">
                  <img src="/assets/img/elements/top_seller.png" class="img-fluid">
                  <p class="font-weight-600">Seller</p>
                  <p class="mb-0">
                  {% get_range avg as n %}
                  {% get_rev_range avg as n2 %}
                  {% for x in n %}
                    <span><img src="/assets/img/elements/star_fill.png"></span>

                    {% endfor %}
                    {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
               
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <h4 class="font-weight-600 mb-3">Statistics</h4>
            <div class="row">
              <div class="col-md-4">
                <img src="/assets/img/elements/trade.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{com}} TRADES</h6>
                <p class="product-p">Total Trade Completed</p>
              </div>
              {% comment %} <div class="col-md-4">
                <img src="/assets/img/elements/spend.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">754.55 USD</h6>
                <p class="product-p">Total Spend</p>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/elements/earned.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">1754.55 USD</h6>
                <p class="product-p">Total Earned</p>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">


      {% for prod in featured %}
      <div class="col-md-3">
      <form method='post' action='/user/buy/{% get_elem prod "productid" %}'>
      {% csrf_token %}
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %} featured-header">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %} featured-header">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <span class="text-orange font-weight-600">{% get_elem prod 'seller' %}</span><sub>Le'</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              <div class="col-md-6">
                  <span class="badge badge-primary float-right">Featured</span>
                </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} hours</span>
            </h1>
            <div class="row">
              <div class="col-md-6">
                <p class="product-p">
                  Quantity
                </p>
              </div>
              <div class="col-md-6">
                <input class="form-control" min="1" name="quantity" value="1" type="number">
              </div>
            </div>
            <p class="product-p mt-2">
              Available quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          {% get_elem prod 'seller' as seller%}
          {% if not seller == username %}
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %} featured-footer">
           
            <button  type="submit" class="btn btn-sm btn-submit {% if quantity == 0 %} disabled {% endif %}">Buy Now</button>
          </div>
          {% endif %}
        </div>
        </form>
      </div>
      {% endfor %}


        {% for prod in prods %}
      <div class="col-md-3">
      <form method='post' action='/user/buy/{% get_elem prod "productid" %}'>
      {% csrf_token %}
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %}">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <span class="text-orange font-weight-600">{% get_elem prod 'seller' %}</span><sub>Le'</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} hours</span>
            </h1>
            <div class="row">
              <div class="col-md-6">
                <p class="product-p">
                  Quantity
                </p>
              </div>
              <div class="col-md-6">
                <input class="form-control" min="1" name="quantity" value="1" type="number">
              </div>
            </div>
            <p class="product-p mt-2">
              Available quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          {% get_elem prod 'seller' as seller%}
          {% if not seller == username %}
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
           
            <button  type="submit" class="btn btn-sm btn-submit {% if quantity == 0 %} disabled {% endif %}">Buy Now</button>
          </div>
          {% endif %}
        </div>
        </form>
      </div>
      {% endfor %}






        
        
      </div>
    </div>
  </section>
  {% comment %} <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#active">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#completed">Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Disputed">Disputed</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div id="active" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-delivered">Delivered</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="completed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-delivered">Delivered</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="Disputed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-delivered">Delivered</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #425366</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                        </td>
                        <td>
                          <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                            <span class="text-red font-weight-600 ml-2">(-41)</span> 
                            <span class="text-light-orange font-weight-600 ml-2">-154</span>
                          </p>
                        </td>
                        <td>
                          <a class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <h4 class="py-3 font-weight-bold">Feedback</h4>
            {% for feed in feedback %}
            {% get_range feed.seller_score as n %}
                  {% get_rev_range feed.seller_score as n2 %}
            <blockquote class="blockquote">
              <p class="mb-0">{{feed.seller_feedback}}</p>
              <p>
              
                 {% for x in n %}
                    <span><img src="/assets/img/elements/star_fill.png"></span>

                    {% endfor %}
                    {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
              </p>
            </blockquote>
            {% endfor %}
           
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}