{% extends "temp2.html" %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">My Selling</a></li>
                    <li class="breadcrumb-item active"><a href="#">Product Details</a></li>
                  </ol>
                </nav>
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <a href="" class="btn btn-md btn-solved">Mark as Out of Stock</a>
                  <a href="" class="btn btn-submit">Re Stock</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <div class="row my-4">
              <div class="col-md-6">
                <h4 class="font-weight-600">Amazon mixxed mailgrabbed</h4>
                <p>
                  <span class="badge badge-light rounded p-2">Paypal</span>
                  <span class="badge badge-light rounded ml-2 p-2">Account</span>
                </p>
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <a href="" class="btn btn-solved btn-md">Edit</a>
                </div>
              </div>
            </div>
            <div class="border-top"></div>
            <div class="row mt-4">
              <div class="col-md-3">
                <p class="product-p bottom-2">
                  Country Account for
                </p>
                <p class="product-p">
                  <img src="/assets/img/elements/denmark.png" class="img-fluid">
                  <span class="font-weight-600 pl-1">Denmark</span>
                </p>
              </div>
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Mail Checked
                </p>
                <p class="product-p font-weight-600 text-green">
                  Yes
                </p>
              </div>
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Payment Method
                </p>
                <p class="product-p">
                  <span class="font-weight-600">Bitcoin</span>
                </p>
              </div>
              <div class="col-md-2">
                <p class="product-p bottom-2">
                  Stock Available
                </p>
                <p class="product-p">
                  <span class="font-weight-600">135 pieces</span>
                </p>
              </div>
              <div class="col-md-3">
                <div class="float-right">
                  <p class="text-center text-orange font-weight-600 font-24 font-oswald price">
                    &#128;1.00
                    <br>
                    <span class="replace-text">No Replace time</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="border-top"></div>
            <div class="row my-4">
              <div class="col-md-12">
                <ul class="nav nav-pills nav-pills-nav" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#reviews">Reviews</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#stock">Stock</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#Disputed">Disputed</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="reviews" class="container tab-pane active"><br>
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td>
                              <h4 class="font-weight-600">Order ID #425366</h4>
                              <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                            </td>
                            <td>
                              <h5 class="product-title">Rating</h5>
                              <p class="product-p">
                                <span class="badge badge-light product-p">3 Star Rating</span>
                              </p>
                            </td>
                            <td>
                              <h4 class="product-title">Buyer</h4>
                              <p class="product-p">Buyer Name</p>
                            </td>
                            <td>
                              <h4 class="product-title">Country Account for</h4>
                              <p class="product-p"><img src="/assets/img/elements/denmark.png" class="img-fluid"> Denmark</p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h4 class="font-weight-600">Order ID #425366</h4>
                              <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                            </td>
                            <td>
                              <h5 class="product-title">Rating</h5>
                              <p class="product-p">
                                <span class="badge badge-light product-p">3 Star Rating</span>
                              </p>
                            </td>
                            <td>
                              <h4 class="product-title">Buyer</h4>
                              <p class="product-p">Buyer Name</p>
                            </td>
                            <td>
                              <h4 class="product-title">Country Account for</h4>
                              <p class="product-p"><img src="/assets/img/elements/denmark.png" class="img-fluid"> Denmark</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="stock" class="container tab-pane fade">
                    <div class="row my-3">
                      <div class="col-md-4 mb-1">
                        <div class="alert alert-bg-light">
                          <h5>Account #1</h5>
                          <p class="mb-0"><strong>Email:</strong> demo@email.com</p>
                          <p class="mb-0"><strong>Pasword:</strong> MKLoiut</p>
                          <span class="badge badge-danger float-right">Sold Out</span>
                        </div>
                      </div>
                      <div class="col-md-4 mb-1">
                        <div class="alert alert-bg-light">
                          <h5>Account #1</h5>
                          <p class="mb-0"><strong>Email:</strong> demo@email.com</p>
                          <p class="mb-0"><strong>Pasword:</strong> MKLoiut</p>
                        </div>
                      </div>
                      <div class="col-md-4 mb-1">
                        <div class="alert alert-bg-light">
                          <h5>Account #1</h5>
                          <p class="mb-0"><strong>Email:</strong> demo@email.com</p>
                          <p class="mb-0"><strong>Pasword:</strong> MKLoiut</p>
                        </div>
                      </div>
                      <div class="col-md-4 mb-1">
                        <div class="alert alert-bg-light">
                          <h5>Account #1</h5>
                          <p class="mb-0"><strong>Email:</strong> demo@email.com</p>
                          <p class="mb-0"><strong>Pasword:</strong> MKLoiut</p>
                        </div>
                      </div>
                      <div class="col-md-4 mb-1">
                        <div class="alert alert-bg-light">
                          <h5>Account #1</h5>
                          <p class="mb-0"><strong>Email:</strong> demo@email.com</p>
                          <p class="mb-0"><strong>Pasword:</strong> MKLoiut</p>
                          <span class="badge badge-danger float-right">Sold Out</span>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div id="Disputed" class="container tab-pane fade">
                    <div class="table-responsive my-3">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <td>
                              <h4 class="font-weight-600">Order ID #425366</h4>
                              <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                            </td>
                            <td>
                              <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                              <p class="product-p">
                                <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                                <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                                <span class="text-red font-weight-600 ml-2">(-41)</span> 
                                <span class="text-light-orange font-weight-600 ml-2">-154</span>
                              </p>
                            </td>
                            <td>
                              <a class="btn btn-md btn-solved">Opened</a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h4 class="font-weight-600">Order ID #425366</h4>
                              <span class="font-small">Date:</span> <span class="font-weight-500">15-12-2020</span>
                            </td>
                            <td>
                              <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                              <p class="product-p">
                                <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                                <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                                <span class="text-red font-weight-600 ml-2">(-41)</span> 
                                <span class="text-light-orange font-weight-600 ml-2">-154</span>
                              </p>
                            </td>
                            <td>
                              <a class="btn btn-md btn-solved">Opened</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}