{% extends "temp2.html" %}
{% load tools %}
{% block body %}

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">
          <div class="box">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Buyer</th>
                  <th scope="col">Bid Amount</th>
                </tr>
              </thead>
              <tbody>
              {% for t in topbids %}
                <tr>
                  <th scope="row">1</th>
                  <td><a href='/user/publicprofile/{{t.user.id}}' >{{t.user.username}} </a></td>
                  <td><span class="text-orange font-weight-600 font-oswald font-20">{{t.bid_price}} EUR</span></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 m-auto text-center">
          <div class="box">
                <h1 class="font-oswald font-weight-bold">Edit Biding</h1>
                <div class=" row mt-5">
                {% for bid in bids %}
                <div class="col-md-6">
                <h4 class="font-weight-600">{{ bid.product.name}}</h4>
                </div>

                  <form method='post' >
                  {% csrf_token %}
                    <div class="input-group">
                    <input name='bidid' value='{{bid.id}}' hidden />
                      <input type="text" name='amount' class="form-control form-control-lg" placeholder="Enter Bid Amount" value="{{bid.bid_price}}">
                      <div class="input-group-append">
                        <button type='submit' class="btn-submit">Update Bid</button>
                      </div>
                    </div>
                  </form>
                {% endfor %}
                
                </div>
              </div>
            </div>
      </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <div class="row">
              <div class="col-md-12 m-auto text-center">
                <h1 class="font-oswald font-weight-bold">Auction for featuring products</h1>
                <h4 class="font-oswald font-weight-400"> Balance = <span class="text-orange font-weight-600">{{totalbalancebtc}} BTC <=> {{totalbalanceusd}} EUR</span></h4>
                <div class="mt-5">
                  <span class="text-orange bid-timer-font">{{timeleft}}</span>
                </div>
                <div class="mt-5">
                  <form>
                    <div class="text-center">
                      {% comment %} <input type="text" class="form-control form-control-lg" placeholder="Enter Bid Amount"> {% endcomment %}
                      <div class="text-center">
                        <a href='/startbid/{{auction.id}}' class="btn-submit">Bid Now</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

{% endblock %}