{% extends "temp2.html" %}
{% load tools %}
{% block body %}

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">Bid Products</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">

    {% for prod in prods %}

      <div class="row mt-3">
        <div class="col-md-12">
          <div class="box-bottom">
            <div class="row my-4">
              <div class="col-md-6">
                <h4 class="font-weight-600">{{prod.name}}</h4>
                {% comment %} <p>
                  <span class="badge badge-light rounded p-2">Paypal</span>
                  <span class="badge badge-light rounded ml-2 p-2">Account</span>
                </p> {% endcomment %}
              </div>
              <div class="col-md-6">
                <div class="float-right">
                  <p class="text-center text-orange font-weight-600 font-24 font-oswald price">
                    &#128;{{prod.price}}
                    <br>
                    <span class="replace-text">Replace Time : {{prod.replace_time}} minutes</span>
                  </p>
                  <form method='post'>
                  {% csrf_token %}

                    <div class="input-group">
                      {% comment %} <input name='auctid' value={{auction.id}} hidden > {% endcomment %}
                      <input name='prodid' value={{prod.id}}  hidden>

                      <input type="text" name='bid' class="form-control form-control-md" placeholder="Enter Bid Amount">
                      <div class="input-group-append">
                        <button type='submit' class="btn btn-sm btn-ig-submit">Bid Now</button>
                      </div>
                      <div class="invalid-feedback" style="{% if err %} display: block; {% else %} display:none; {% endif %}">
                      {{errmsg}}
                    </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      

      </div>
  </section>

{% endblock %}