{% extends "temp2.html" %}
{% load tools %}
{% block body %}
	<section class="my-3">
		<div class="container">
		<form method='post'>
		{% csrf_token %}
			<div class="row">
				<div class="col-md-8 m-auto">
					<div class="box">
						<nav class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active mb-2"><a href="#">Cart</a></li>
								<li class="breadcrumb-item mb-2"><a href="#">Checkout list</a></li>
								<li class="breadcrumb-item mb-2"><a href="#">Payment Details</a></li>
								<li class="breadcrumb-item mb-2"><a href="#">Transaction History</a></li>
						    </ol>
						</nav>
						{% for obj in cart %}
						<div class="row my-3">
							<div class="col-md-5 mb-2 m-auto">
								<h5 class="product-title text-center">{% get_elem obj 'name' %}</h5>
							</div>
							<div class="col-md-2 mb-2 m-auto">
								<h4 class="text-center font-weight-600 font-oswald price">
									&#128;{% get_elem obj 'price' %}
								</h4>
							</div>
							<div class="col-md-2 mb-2 m-auto">
								<input hidden name='prodid{% get_elem obj 'count' %}' value='{% get_elem obj 'id' %}' >
								<input class="form-control" min="1" name="quantity{% get_elem obj 'count' %}" value="{% get_elem obj 'quantity' %}" type="number">
							</div>
							<div class="col-md-3 m-auto">
								<a href='/user/cart/delete/{% get_elem obj 'id' %}'><img src="/assets/img/elements/delete.png"></a>
							</div>
						</div>
						{% endfor %}
						
						<div class="row border-top-bottom">
							<div class="col-md-12 my-2">
								<button type='submit' class="btn btn-sm btn-submit-outline float-right">Update Cart</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mt-4">
								<a class="font-weight-600 font-oswald price">
									Total Price: <span class="text-orange">&#128;{{total}}</span>
								</a>
								<a href='/user/checkoutlist' class="btn btn-submit float-right">Proceed to Checkout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
	    </div>
	</section>
	{% endblock %}