{% extends "temp2.html" %}
{% load tools %}
{% block body %}
	<section class="my-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<nav class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a href="#">Cart</a></li>
								<li class="breadcrumb-item active"><a href="#">Checkout list</a></li>
								<li class="breadcrumb-item"><a href="#">Payment Details</a></li>
								<li class="breadcrumb-item"><a href="#">Transaction History</a></li>
						    </ol>
						</nav>
						<div class="table-responsive">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Base Price</th>
										<th scope="col">Quantity</th>
										<th scope="col">Price</th>
										<th scope="col"></th>
								    </tr>
								</thead>
								<tbody>
								{% for obj in cart %}
									<tr class="border-bottom">
								      <td>{% get_elem obj 'name' %}</td>
								      <td class="font-weight-600 font-20">&#128;{% get_elem obj 'price' %}</td>
								      <td><span class="badge badge-light">{% get_elem obj 'quantity' %}</span> </td>
								      <td><span class="font-weight-600 font-20">&#128;{% get_elem obj 'partialtot' %}</span></td>
								      {% comment %} <td><a href='/user/cart/delete/{% get_elem obj 'id' %}'><img src="/assets/img/elements/delete.png"></a></td> {% endcomment %}
								    </tr>
								    {% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-md-12 mt-4">
								<a class="font-weight-600 font-oswald price font-20">
									Total Price: <span class="text-orange">&#128;{{total}}</span>
								</a>
								<a href='/user/paymentdetails' class="btn btn-submit float-right">Proceed to Payment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</section>
	{% endblock %}