{% extends "temp2.html" %}
{% block body %}
{% load tools %}

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-8 m-auto text-center">
                <h1 class="font-oswald font-weight-bold">Bid Saved</h1>
                <p class="pt-3">
                  Your submited bid is saved.<br>
                  wait till the auction is complete to know if you win a featured sport if not your bid amount will be refunded. 
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

  {% endblock %}