{% extends "temp2.html" %}
{% block body %}

  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <a href="" class="btn-news">News</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-auto">
                <h4 class="pt-5 pb-3 font-weight-bold">Welcome</h4>
                <p>What is German-Plaza all about?</p>
                <p>
                  German-Plaza provides a secure market place for buyers and vendors with focus on digital goods.<br>
                  We offer a unique trading and replacement system together with a well-trained team, which is able to intervene in case of conflicts.
                </p>
                <p>
                  Secure trading is guaranteed by an integrated dispute management system and several vendor levels (which include deposits).
                </p>
                <p>
                  You will be able to rate your vendor with an eBay similar feedback system.
                </p>
                <p>
                  Clearnet visitors find us on German-Plaza.cc<br>
                  There is a darknet domain on http://gerpla4igmngtpgw.onion for TOR users as well.
                </p>
                <p class="font-weight-bold">How to Trade:</p>
                <p>
                  We tried to create a trading process not just simple but also as safe as possible to use.
                </p>
                <p>
                  To become a buyer you just need to register your account and top up your wallet with Bitcoins.
                </p>
                <p>
                  If you are interested in becoming a vendor on our market place, please follow the instructions you are going find on „Become a Vendor“ after the registration process.
                </p>
                <p>
                  Vendors are divided into different levels to provide an even safer environment for our users and ban potential risks as fast as possible.
                </p>
                <p>
                  As we see it necessary for our community there will also be a complaint form to let us deal with rule violations more effectively (e.g. the vendor doesn’t replace in time)<br>
                  If there are to many open replace requests, you are temporarily banned from further deals.
                </p>
                <p>
                  Every vendor is able to transfer his balance to a random wallet at any time!
                </p>
                <p>
                  For further information visit our FAQs.
                </p>
                <p>
                  If there are complaints or improvement suggestions please feel free to contact us or open a support ticket.<br>
                  Any kind of criticism is highly welcomed.
                </p>
                <p>
                  We appreciate your visit and wish satisfying deals!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
