{% extends "temp2.html" %}
{% block body %}
	<section class="my-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<nav class="mb-2">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a href="#">Cart</a></li>
								<li class="breadcrumb-item active"><a href="#">Checkout list</a></li>
								<li class="breadcrumb-item active"><a href="#">Payment Details</a></li>
								<li class="breadcrumb-item"><a href="#">Transaction History</a></li>
						    </ol>
						</nav>
						
						<div class="row">
							<div class="col-md-12 mt-4">
								<p class="font-weight-600">Cryptocurrencies</p>
								<a class="btn btn-pay-coin active" href="paymentdetails-btc.html">
									<img src="/assets/img/elements/xmr.png" class="img-fluid"> 
									<span class="pl-3">Monero (XMR)</span>
								</a>
								{% comment %} <a class="btn btn-pay-coin" href="paymentdetails-xrm.html">
									<img src="/assets/img/elements/xrm.png" class="img-fluid"> 
									<span class="pl-3">Etherum (XRM)</span>
								</a>
								<a class="btn btn-pay-coin" href="paymentdetails-alt.html">
									<img src="/assets/img/elements/alt.png" class="img-fluid"> 
									<span class="pl-3">AltCoins</span>
								</a> {% endcomment %}
							</div>
						</div>
						<div class="row my-4">
							<div class="col-md-4 m-auto text-center">
								<img src="/assets/img/elements/barcode.png" class="img-fluid qr-code">
				                {% comment %} <p class="text-orange font-weight-600 text-center mt-3 font-small">Minimum payment: &#128;2</p> {% endcomment %}
				            </div>
							<div class="col-md-8">
								<h4 class="font-oswald font-weight-400"> 1 BTC = <span class="text-orange">{{btc_rate}} EUR</span></h4>
								<p class="pt-3">
									You can also buy Crypto with a credit card from third party providers.<br>
									We recommend <span class="text-orange">CashApp</span> , <span class="text-orange">Bitcoin.com</span> , <span class="text-orange">CoinGate</span> or <span class="text-orange">MoonPay</span>.
								</p>
								<p>Total Pricing</p>
								<h4 class="font-oswald font-weight-400"> {{total}} EUR = <span class="text-orange font-weight-600">{{converted}} XMR</span></h4>
								<h4 class="font-oswald font-weight-400"> Order Fees = <span class="text-orange font-weight-600">{{fees}} EUR <> {{converted_fees}} XMR</span></h4>
								<form method='post'>
								{% csrf_token %}
								<div class="mt-5">
				                  <button href="" class="btn-submit">Pay Now</button>
				                </div>
								</form>
							</div>
						</div>
						{% comment %} <p class="text-center">You can send BTC to it at any time and it will be credited to your account.</p> {% endcomment %}
					</div>
				</div>
			</div>
	    </div>
	</section>
	{% endblock %}