{% extends "temp2.html" %}
{% block body %}
	<section class="my-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<nav class="mb-2">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a href="#">Cart</a></li>
								<li class="breadcrumb-item active"><a href="#">Checkout list</a></li>
								<li class="breadcrumb-item active"><a href="#">Payment Details</a></li>
								<li class="breadcrumb-item"><a href="#">Transaction History</a></li>
						    </ol>
						</nav>
						
						<div class="row">
							<div class="col-md-12 mt-4">
								<p class="font-weight-600">Cryptocurrencies</p>
								<a class="btn btn-pay-coin active" href="paymentdetails-btc.html">
									<img src="img/elements/btc.png" class="img-fluid"> 
									<span class="pl-3">Bitcoin (BTC)</span>
								</a>
								<a class="btn btn-pay-coin" href="paymentdetails-xrm.html">
									<img src="img/elements/xrm.png" class="img-fluid"> 
									<span class="pl-3">Etherum (XRM)</span>
								</a>
								<a class="btn btn-pay-coin" href="paymentdetails-alt.html">
									<img src="img/elements/alt.png" class="img-fluid"> 
									<span class="pl-3">AltCoins</span>
								</a>
							</div>
						</div>
						<div class="row my-4">
							<div class="col-md-4">
								<div class="qr-code mx-3">
									<img src="img/elements/barcode.png" class="img-fluid">
								</div>
								<p class="text-orange font-weight-600 text-center mt-3 font-small">Minimum payment: &#128;2</p>
							</div>
							<div class="col-md-8">
								<h4 class="font-oswald font-weight-400"> 1 BTC = <span class="text-orange">19184.55 USD</span></h4>
								<p class="pt-3">
									You can also buy Crypto with a credit card from third party providers.<br>
									We recommend <span class="text-orange">CashApp</span> , <span class="text-orange">Bitcoin.com</span> , <span class="text-orange">CoinGate</span> or <span class="text-orange">MoonPay</span>.
								</p>
								<p>
									This is your <span class="text-orange">Payment</span> Address:
								</p>
								<div class="alert alert-light" role="alert">
									33cgdrgYMJgUQL1vkox4YjKAGys7eQ5ei6hihlhiphpihp8990kjhiohoihoihohiohoihiohiolh
								</div>
								<p>Total Pricing</p>
								<h4 class="font-oswald font-weight-400"> 18 USD = <span class="text-orange font-weight-600">0.00093826 BTC</span></h4>
							</div>
						</div>
						<p class="text-center">You can send BTC to it at any time and it will be credited to your account.</p>
					</div>
				</div>
			</div>
	    </div>
	</section>
	{% endblock %}