{% extends "temp2.html" %}
{% block body %}
{% load tools %}
<section class="my-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="row">
            <div class="col">
              <div class="alert alert-success" role="alert">
                Germen-Plaza Onion Address : 
                <span class="alert-link">gerpla4igmngtpgw.onion</span>
              </div>
            </div>
          </div>
          <form method='post' action='/products/filter'>
          {% csrf_token %}
          <div class="row">
          
            <div class="col-md-3 mb-2">
              <select name='cat_filter' class="form-control select-form-control">
              {% if chosen == -1 %}
              <option value='-1' selected > All categories </option>
              {% else %}
              <option> All categories </option>
              {% endif %}
              {% for cat in cats %}
              {% if chosen ==  cat.id %}
              <option value='{{cat.id}}' selected>{{cat.category_name}} </option>
              {% else %}
              <option value='{{cat.id}}'> {{cat.category_name}} </option>
              {% endif %}
              {% endfor %}
              </select>
            </div>
            
            {% comment %} <div class="col-md-3 mb-2">
              <select class="form-control select-form-control">
                <option selected>Payment Method</option>
              </select>
            </div>
            <div class="col-md-3 mb-2">
              <select class="form-control select-form-control">
                <option selected>Country</option>
              </select>
              </div>
             {% endcomment %}
             
            <div class="col-md-3">
              <button type="submit" class="btn btn-submit">Filter</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
</section>
{% if featured %}
<!-- Featured Products -->
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <div class="row mb-4">
              <div class="col-md-12 text-center">
                <h4 class="font-weight-600">Featured Products</h4>
              </div>
            </div>
            <div class="row">
              {% for prod in featureds %}
      <div class="col-md-3">
      <form method='post' action='/user/buy/{% get_elem prod "productid" %}'>
      {% csrf_token %}
      {% get_elem prod 'quantity' as quantity %}
        <div class="card  {% if quantity == 0 %} sold-out-card {% endif %} featured-card">
          <div class="card-header featured-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5  class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
              <a href='/user/publicprofile/{% get_elem prod "idd" %}' class="text-orange font-weight-600">{% get_elem prod 'seller' %} </a><sub>Lvl : {% get_elem prod 'seller_lvl' %}</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <p class="mb-0">
            {% get_elem prod 'seller'  as sel%}
            {% get_avg_user sel as avg %}
                  {% get_range avg as n %}
                  {% get_rev_range avg as n2 %}
                  {% for x in n %}
                    <span><img src="/assets/img/elements/star_fill.png"></span>

                    {% endfor %}
                    {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
               
             </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p %}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} minutes</span>
            </h1>
            <div class="row">
              <div class="col-md-6">
                <p class="product-p">
                  Quantity
                </p>
              </div>
              <div class="col-md-6">
                <input class="form-control" min="1" name="quantity" value="1" type="number">
              </div>
            </div>
            <p class="product-p mt-2">
              Available quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          {% get_elem prod 'seller' as seller%}
          {% if not seller == username %}
          <div class="card-footer featured-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
           
            <button  type="submit" class="btn btn-sm btn-submit {% if quantity == 0 %} disabled {% endif %}">Buy Now</button>
          </div>
          {% endif %}
        </div>
        </form>
      </div>
      {% endfor %}
              {% comment %} <div class="col-md-3">
                <div class="card featured-card">
                  <div class="card-header featured-header">
                    <div class="float-right">
                      <img src="img/elements/denmark.png" class="img-fluid">
                    </div>
                  </div>
                  <div class="card-body">
                    <h5 class="product-title">Amazon mixxed mailgrabbed</h5>
                    <p class="product-p">
                      <span class="text-orange font-weight-600">Moldova</span><sub>Le'</sub> 
                      <span class="text-green font-weight-600 ml-2">(+1043)</span> 
                      <span class="text-red font-weight-600 ml-2">(-41)</span> 
                      <span class="text-light-orange font-weight-600 ml-2">-154</span>
                    </p>
                    <p class="product-p">
                      Mail Checked <br>
                      <span class="text-green font-weight-500">Yes</span>
                    </p>
                    <p class="product-p">
                      Payment Method <br>
                      <span class="font-weight-600">Unchecked</span>
                    </p>
                    <h1 class="text-center font-weight-600 font-oswald price">
                      &#128;1.00
                      <br>
                      <span class="replace-text">No Replace time</span>
                    </h1>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="product-p">
                          Quantity
                        </p>
                      </div>
                      <div class="col-md-6">
                        <input class="form-control" min="1" name="quantity" value="1" type="number">
                      </div>
                    </div>
                    <p class="product-p mt-2">
                      Stock <br>
                      <span class="font-weight-600">25 available to sell</span>
                    </p>
                  </div>
                  <div class="card-footer featured-footer">
                    <button type="button" class="btn btn-sm btn-submit">Buy Now</button>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Featured Products -->
  {% endif %}
<section class="my-3">
  <div class="container">
    <div class="row">

    {% for prod in stickys %}
      <div class="col-md-3">
      <form method='post' action='/user/buy/{% get_elem prod "productid" %}'>
      {% csrf_token %}
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %} sticky-card">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %} sticky-header">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
             <a href='/user/publicprofile/{% get_elem prod "idd" %}' class="text-orange font-weight-600">{% get_elem prod 'seller' %} </a><sub>Lvl : {% get_elem prod 'seller_lvl' %}</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <p class="mb-0">
            {% get_elem prod 'seller'  as sel%}
            {% get_avg_user sel as avg %}
                  {% get_range avg as n %}
                  {% get_rev_range avg as n2 %}
                  {% for x in n %}
                    <span><img src="/assets/img/elements/star_fill.png"></span>

                    {% endfor %}
                    {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
               
             </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} minutes</span>
            </h1>
            <div class="row">
              <div class="col-md-6">
                <p class="product-p">
                  Quantity
                </p>
              </div>
              <div class="col-md-6">
                <input class="form-control" min="1" name="quantity" value="1" type="number">
              </div>
            </div>
            <p class="product-p mt-2">
              Available quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          {% get_elem prod 'seller' as seller%}
          {% if not seller == username %}
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %} sticky-footer">
           
            <button  type="submit" class="btn btn-sm btn-submit {% if quantity == 0 %} disabled {% endif %}">Buy Now</button>
          </div>
          {% endif %}
        </div>
        </form>
      </div>
      {% endfor %}




    {% for prod in products %}
      <div class="col-md-3">
      <form method='post' action='/user/buy/{% get_elem prod "productid" %}'>
      {% csrf_token %}
      {% get_elem prod 'quantity' as quantity %}
        <div class="card {% if quantity == 0 %} sold-out-card {% endif %}">
          <div class="card-header {% if quantity == 0 %} sold-out-header {% endif %}">
            {% comment %} <div class="float-right">
              <img src="/assets/img/elements/denmark.png" class="img-fluid">
            </div> {% endcomment %}
          </div>
          <div class="card-body">
            <h5 class="product-title">{% get_elem prod 'name' %}</h5>
            <p class="product-p">
             <a href='/user/publicprofile/{% get_elem prod "idd" %}' class="text-orange font-weight-600">{% get_elem prod 'seller' %} </a><sub>Lvl : {% get_elem prod 'seller_lvl' %}</sub> 
              <span class="text-green font-weight-600 ml-2">(+{% get_elem prod 'positive' %})</span> 
              <span class="text-red font-weight-600 ml-2">(-{% get_elem prod 'negative' %})</span> 
            </p>
            <p class="mb-0">
            {% get_elem prod 'seller'  as sel%}
            {% get_avg_user sel as avg %}
                  {% get_range avg as n %}
                  {% get_rev_range avg as n2 %}
                  {% for x in n %}
                    <span><img src="/assets/img/elements/star_fill.png"></span>

                    {% endfor %}
                    {% for x in n2%}
                    <span><img src="/assets/img/elements/star_line.png"></span>
                    {% endfor %}
               
             </p>
            <div class="row">
              <div class="col-md-6">
                {% comment %} <p class="product-p">
                  Mail Checked <br>
                  <span class="text-green font-weight-500">Yes</span>
                </p> {% endcomment %}
              </div>
              
              {% if quantity == 0 %}
              <div class="col-md-6">
              
              <span class="badge badge-danger float-right">Sold Out</span>
                
                {% comment %}
                <span class="badge badge-success float-right">Popular</span>
                 <span class="badge badge-success float-right">Best Seller</span>
                <span class="badge badge-danger float-right">Sold Out</span>
                 {% endcomment %}

              </div>
              {% endif %}
            </div>
            <p class="product-p">
              Payment Method <br>
              <span class="font-weight-600" style='text-transform : uppercase;'>{% get_elem prod 'payment_type' %}</span>
            </p>
            {% get_elem prod 'price' as p%}
            <h1 class="text-center font-weight-600 font-oswald price">
              &#128;{% format_dec_num p%}
              <br>
              <span class="replace-text">Replace time : {% get_elem prod 'replace_time' %} minutes</span>
            </h1>
            <div class="row">
              <div class="col-md-6">
                <p class="product-p">
                  Quantity
                </p>
              </div>
              <div class="col-md-6">
                <input class="form-control" min="1" name="quantity" value="1" type="number">
              </div>
            </div>
            <p class="product-p mt-2">
              Available quantity <br>
              <span class="font-weight-600 {% if  quantity == 0 %} text-red {% endif %}">{% get_elem prod 'quantity' %} available to sell</span>
            </p>
          </div>
          {% get_elem prod 'seller' as seller%}
          {% if not seller == username %}
          <div class="card-footer {% if quantity == 0 %} sold-out-footer {% endif %}">
           
            <button  type="submit" class="btn btn-sm btn-submit {% if quantity == 0 %} disabled {% endif %}">Buy Now</button>
          </div>
          {% endif %}
        </div>
        </form>
      </div>
      {% endfor %}
      
     
     
    </div>
  </div>
</section>


{% endblock %}