{% extends "temp.html" %}
{% block body %}
<body>
  <nav class="navbar other-navbar navbar-expand-lg">
    <a class="navbar-brand logo-l-r m-auto" href="#">
      MONERO
    </a>
  </nav>
  <section class="my-3">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5">
          <h1 class="uppercase bold font-oswald">Register details</h1>
          <form method='post' class="mt-4">
          {% csrf_token %}

          <div class="invalid-feedback text-center" style="{% if error %} display: block; {% else %} display:none; {% endif %}">
                      {{error_msg}}
                    </div>

            <div class="mb-3">
              <input name='name' {% if name %} value='{{name}}' {% endif %} type="text" class="form-control sep-form-control form-control-lg" placeholder="Your Name"/>
            </div>
            <div class="mb-3">
              <input name='email' {% if email %} value='{{email}}' {% endif %} type="email" class="form-control sep-form-control form-control-lg" placeholder="demo@gmail.com"/>
            </div>
             {% comment %} <div class="mb-3">
              <input name='confirm' type="email" class="form-control sep-form-control form-control-lg" placeholder="demo@gmail.com"/>
            </div> {% endcomment %}
            <div class="input-group mb-3">
              <input name='password' type="password" class="form-control ig-form-control form-control-lg" placeholder="Password"/>
              <span class="input-group-text sep-input-group-text"><i class="fas fa-eye"></i></span>
            </div>
            <div class="input-group mb-3">
              <input name='confirmpassword' type="password" class="form-control ig-form-control form-control-lg" placeholder="Confirm Password"/>
              <span class="input-group-text sep-input-group-text"><i class="fas fa-eye"></i></span>
            </div>
            <div class="row mb-3 g-1">
              <div class="col-12 m-auto">Withdrawal PIN</div>
              <div class="col m-auto">
                <input name='pin1'  type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='pin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='pin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='pin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
            </div>
            <div class="row mb-3 g-1">
              <div class="col-12 m-auto">Confirm Withdrawal PIN</div>
              <div class="col m-auto">
                <input name='confirmpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='confirmpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='confirmpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
              <div class="col m-auto">
                <input name='confirmpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
              </div>
            </div>
            <input type="submit" class="btn btn-login" value="Register">
            <span>Already have an account?</span>
            <a href="/login">Login</a>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}