{% extends "temp2.html" %}
{% load tools %}
{% block body %}

  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            {% comment %} <div class="row">
              <div class="col">
                <select class="form-control">
                  <option>Highest Level</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control">
                  <option>Highest Rating</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control">
                  <option>Country</option>
                </select>
              </div>
              <div class="col mt--10">
                <button type="button" class="btn btn-submit">Filter</button>
              </div>
            </div> {% endcomment %}
            <hr>
            <div class="row">
              <div class="col">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Levels</th>
                        <th>Seller ID</th>
                        <th>Trade Made</th>
                        <th>Rating</th>
                        {% comment %} <th>Revenue</th> {% endcomment %}
                      </tr>
                    </thead>
                    <tbody>
                    {% for seller in sellers %}
                      <tr>
                        <th>1</th>
                        <td>
                          <a href='/user/publicprofile/{{seller.id}}' class="text-orange font-weight-600">{{seller.username}}</a>{% comment %} <sub>Le'</sub> {% endcomment %} 
                          <span class="text-green font-weight-600 tb-f-small ml-2">(+{{seller.seller_positive}})</span> 
                          <span class="text-red font-weight-600 tb-f-small ml-2">(-{{seller.seller_negative}})</span> 
                          
                        </td>
                        <td>{% get_sel_orders seller%}</td>
                        <td><i class="fa fa-star text-orange"></i> {% get_avg_rating seller %}</td>
                        {% comment %} <td>&#128; {% get_earned seller %}</td> {% endcomment %}
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}