{% extends "temp2.html" %}
{% load tools %}
{% block body %}

  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <a href="" class="btn-back">Back</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 m-auto">
                <h4 class="py-5 font-weight-bold">New Ticket Details</h4>
                <form action="/user/submitticket"  method = 'post' enctype="multipart/form-data">
               {% csrf_token %}
                  <div class="mb-3">
                    <input type="text" class="form-control" name  = 'title' placeholder="Subject"/>
                  </div>
                  {% comment %} <div class="mb-3">
                    <select class="form-control">
                      <option selected>Issue Categories</option>
                    </select>
                  </div> {% endcomment %}
                  <div class="mb-3">
                    <textarea name='details' class="form-control" rows="8">Issue Details</textarea>
                  </div>
                  {% comment %} <div class="mb-3">
                    <input type="file" name="file">
                  </div> {% endcomment %}
                  <div class="{% if not success %} invalid-feedback {% else %} valid-feedback {% endif %}" style="{% if show %} display: block; {% else %} display:none; {% endif %}">
                      {{msg}}
                    </div>
                  <div class="mt-2 text-center">
                    <input type="submit" class="btn-submit" value="Submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}