{% load tools %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Monero | {{title}}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/assets/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/assets/css/style.css" rel="stylesheet">
  {% block style %}
  {% endblock %}
</head>
<body>
  <header>
    <nav class="navbar topnavbar navbar-expand-lg hide-mobile">
        <div class="container">
          <ul class="navbar-nav ml-auto">
           {% comment %}  <li class="nav-item">
              <a class="nav-link" href="#"><span class="text-white">XMR 1 =</span> $133.39</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="text-white">XMR 1.0 =</span> €{{btc_rate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="/assets/img/elements/usa.png" class="img-fluid"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="/assets/img/elements/german.png" class="img-fluid"></a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="navbar middle-navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand logo-other" href="/products">
            MONERO
          </a>
          <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#sidemenu" data-backdrop="true"> 
            <i class="fa fa-bars text-white" aria-hidden="true"></i>
          </button>
          {% if logged %}
          <ul class="navbar-nav ml-auto hide-mobile">
            <li class="nav-item dropdown m-auto">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <img src="/assets/img/elements/message.png" class="img-fluid">
                <span class="badge badge-notify">{{count_msgss}}</span>
              </a>
              <div class="dropdown-menu msg-notify" aria-labelledby="navbarDropdown">
                <ul class="dropdown-item">
                {% get_len msgss as lenn%}
                {% if lenn == 0%}
                <li class="pb-2">
                    <p class="font-weight-600 mb-0">{{count_msgss}} messages</p>
                    
                  </li>
                {% endif %}
                  {% comment %} <a class="text-orange tb-f-small">
                    Mark all as read
                  </a> {% endcomment %}
                  <div class="dropdown-divider"></div>
                {% for msg in msgss %}
                  <li class="pb-2">
                    <p class="font-weight-600 mb-0">Dispute ID #{{msg.msg.dispute.id}}</p>
                    <p class="tb-f-small mb-0">{{msg.msg.sender.username}}</p>
                    <a href='/user/dispute/{{msg.msg.dispute.order.id}}/{{msg.msg.dispute.id}}' class="alert alert-bg-navdrop mb-0 text-muted">{{msg.msg.message}}</a>
                  </li>
                  <div class="dropdown-divider"></div>
                {% endfor %}
                 
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown m-auto">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <img src="/assets/img/elements/notifications.png" class="img-fluid">
                <span class="badge badge-notify">{{count_not}}</span>
              </a>
              <div class="dropdown-menu msg-notify" aria-labelledby="navbarDropdown">
                <ul class="dropdown-item">
                {% if count_not == 0%}
                <a href='#' class="text-orange tb-f-small">
                    0 Notifications found
                  </a>
                {% else %}
                  <a href='/user/markallread' class="text-orange tb-f-small">
                    Mark all as read
                  </a>
                  <div class="dropdown-divider"></div>
                {% for notif in notifs %}
                  <li class="pb-2">
                    <a href='/user/markread/{{notif.id}}' {% comment %} href={{notif.url}} {% endcomment %} class="font-weight-600 mb-0 " style="color:black;">{{notif.content}}</a>
                    {% comment %} <p class="tb-f-small mb-0">Purchased 3 Paypal Account</p> {% endcomment %}
                    {% comment %} <a  class="mb-0 text-red font-weight-500">Check it </a> {% endcomment %}
                    {% comment %} <a href='/user/markread/{{notif.id}}' class="text-orange tb-f-small">
                    Mark as read
                  </a> {% endcomment %}
                  </li>
                  <div class="dropdown-divider"></div>
                  {% endfor %}
                  {% endif %}
                  
                  
                  
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown m-auto">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                <img src="/assets/img/elements/profile.png" class="img-fluid"> 
                <span class="text-orange font-20">{{username}}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href='#' class="dropdown-item font-24 pb-2">
                  <span class="text-orange light-font-700">
                    Balance
                  </span>
                  <span class="font-weight-600 font-oswald float-right">
                    {{balanceusd}} EUR
                  </span>
                </a>
                <a class="dropdown-item light-font pb-2">
                  <span>
                    <img src="/assets/img/elements/xmr.png" class="img-fluid"> {{balancexmr}} XMR
                  </span>
                 {% comment %}  <span class="float-right">
                    <img src="/assets/img/elements/xmr.png" class="img-fluid"> 0.045 XMR
                  </span> {% endcomment %}
                </a>
                <a class="dropdown-item" href="/user/deposit">
                  <img src="/assets/img/elements/deposit.png" class="img-fluid"> Deposit
                </a>
                <a class="dropdown-item" href="/user/withdraw">
                  <img src="/assets/img/elements/withdraw.png" class="img-fluid"> Withdraw
                </a>
                <a class="dropdown-item {% if title == 'Buyer Dashboard' %} active {% endif %}" href="/user/dashboard">Dashboard</a>
                {% if isseller %}
                <a class="dropdown-item {% if title == 'Seller Dashboard' %} active {% endif %}" href="/seller/dashboard">Seller Dashboard</a>
                <a class="dropdown-item {% if title == 'My Sellings' %} active {% endif %}" href="/seller/mysellings">My Sellings</a>
                {% endif %}
                <a class="dropdown-item {% if title == 'My Tickets' %} active {% endif %}" href="/user/mytickets">My tickets</a>
                <a class="dropdown-item {% if title == 'My Orders' %} active {% endif %}" href="/user/myorders">My Orders</a>
                <a class="dropdown-item {% if title == 'Transaction History' %} active {% endif %}" href="/user/history">Transaction History</a>
                <a class="dropdown-item {% if title == 'User Settings' %} active {% endif %}" href="/user/settings">Settings</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link">
              <form action='/user/search'>
                <div class="input-group">
                  <span class="input-group-text groupinput"><img src="/assets/img/elements/search.png"></span>
                  <input name='q' type="search" class="form-control search-menu" placeholder="Search"/>
                  {% comment %} <div class="input-group-append">
                    <form action="/user/cart">
                      <button class="btn btn-cart btn-sm">
                        <img src="/assets/img/elements/shop.png" class="img-fluid">
                        <span class="badge badge-cart">{{cart_count}}</span>
                      </button>
                    </form>
                  </div> {% endcomment %}
                </div>
                </form>
              </a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ml-auto hide-mobile">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <div class="input-group">
                  <span class="input-group-text groupinput"><img src="/assets/img/elements/search.png"></span>
                  <input type="search" class="form-control search-menu" placeholder="Search"/>
                  <div class="input-group-append">
                    <form action="/login">
                      <button class="btn btn-cart btn-sm">
                        <img src="/assets/img/elements/shop.png" class="img-fluid">
                      </button>
                    </form>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>
      <nav class="navbar bottom-navbar navbar-expand-lg">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              {% comment %} <li class="nav-item">
                <a class="nav-link {% if title == 'Dashboard' %} active {% endif %}" href="/user/dashboard">Dashboard</a>
              </li> {% endcomment %}
              <li class="nav-item">
              <a class="nav-link {% if title == 'Products' %} active {% endif %}" href="/products">Products</a>
            </li>
              <li class="nav-item">
              <a class="nav-link {% if title == 'News' %} active {% endif %}" href="/news">News</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if title == 'Seller Top List' %} active {% endif %}" href="/sellertoplist">Seller Toplist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if title == 'Support' %} active {% endif %}" href="/support">My Support</a>
            </li>
            {% if auction %}
            <li class="nav-item">
              <a class="nav-link {% if title == 'Auction' %} active {% endif %}" href="/auction/{{auction.id}}">Auction</a>
            </li>
            {% endif %}
            </ul>
            {% if not logged %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">
                  <span class="btn-menu-reg">Register</span>
                </a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>

      <!-- Mobile Menu -->
      <div class="modal fade right show" id="sidemenu" aria-modal="true">
        <div class="modal-dialog modal-full-height modal-right">
          <!--Content-->
          <div class="modal-content px-3">
            <!--Header-->
            <div class="modal-header border-0">
              <a class="navbar-brand logo-other" href="#">
                GERMANPLAZA
              </a>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-orange">×</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <ul class="list-group sidemenu">
                <li class="list-group-item sidemenu-item">
                  <a class="text-white {% if title == 'Products' %} active {% endif %}" href="/products">Products</a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a class="text-white {% if title == 'News' %} active {% endif %}" href="/news">News</a>
                </li>
                
                <li class="list-group-item sidemenu-item">
                  <a href="" class="text-white">FAQ</a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a class="text-white {% if title == 'Seller Top List' %} active {% endif %}" href="/sellertoplist">Seller Toplist</a>
                </li>
            <li class="list-group-item sidemenu-item">  
                <a class="text-white {% if title == 'My Tickets' %} active {% endif %}" href="/user/mytickets">My tickets</a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a class="text-white {% if title == 'Support' %} active {% endif %}" href="/support">My Support</a>
                </li>
                {% if auction %}
                <li class="list-group-item sidemenu-item">
                   
            
              <a class="text-white {% if title == 'Auction' %} active {% endif %}" href="/auction/{{auction.id}}">Auction</a>
            
            
                </li>
                {% endif %}
               {% comment %}  <li class="list-group-item sidemenu-item">
                  <a href="" class="text-white">My Sellings</a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a href="" class="text-white">Settings</a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a href="/support" class="text-white">My Support</a>
                </li> {% endcomment %}
                {% if logged %}
                  <li class="list-group-item sidemenu-item">
                    <a href="/logout" class="text-white">Logout</a>
                  </li>
                  {% else %}
                <li class="list-group-item sidemenu-item">
                  <a class="btnlogin" href="/login">
                    Login
                  </a>
                </li>
                <li class="list-group-item sidemenu-item">
                  <a class="btn-menu-reg" href="/register">
                    Register
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
  </header>

{% block body %}

{% endblock %}

 <!-- Footer -->
  <footer class="">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h2 class="text-uppercase logo-other text-orange">GermanPlaza</h2>
          <p class="mt-4">
            Copyright @ 2020 <span class="text-orange">GermanPlaza Beta</span><br>
            All rights reserved 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="font-ibm">Company</h5>
          <ul class="list-unstyled mt-4">
            <li>
              <a href="/products" class="text-grey">Products</a>
            </li>
            <li>
              <a href="/news" class="text-grey">News</a>
            </li>
            <li>
              <a href="/sellertoplist" class="text-grey">Seller Toplist</a>
            </li>
            <li>
              <a href="/faq" class="text-grey">FAQ</a>
            </li>
            <li>
              <a href="/about" class="text-grey">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="font-ibm">Support</h5>
          <ul class="list-unstyled mt-4">
            <li>
              <a href="#!" class="text-grey">Help Center</a>
            </li>
            <li>
              <a href="#!" class="text-grey">Terms Of Service</a>
            </li>
            <li>
              <a href="#!" class="text-grey">Legal</a>
            </li>
            <li>
              <a href="#!" class="text-grey">Privacy Policy</a>
            </li>
          </ul>
        </div>
        
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->


<!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/assets/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/assets/js/mdb.min.js"></script>

</body>

</html>