{% extends "temp2.html" %}
{% load tools %}
{% block body %}
	<section class="my-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<nav class="mb-5">
							<ol class="breadcrumb">
								<li class="breadcrumb-item active"><a href="#">Cart</a></li>
								<li class="breadcrumb-item active"><a href="#">Checkout list</a></li>
								<li class="breadcrumb-item active"><a href="#">Payment Details</a></li>
								<li class="breadcrumb-item active"><a href="#">Transaction History</a></li>
						    </ol>
						</nav>
						<div class="table-responsive">
							<table class="table table-borderless">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Coin</th>
										<th scope="col">Value</th>
										<th scope="col">TXID</th>
										<th scope="col">Address</th>
										<th scope="col">Type</th>
										<th scope="col">Status</th>
								    </tr>
								</thead>
								<tbody>
								{% for tr in trs %}
									<tr>
										<td>{% format_date tr.date%}</td>
								      	<td>BTC</td>
								      	<td>{{t.amount}}</td>
								      	<td><span class="text-orange">{{tr.txid}}</span></td>
								      	<td><span class="text-orange">{{tr.address}}</span></td>
										  <td><span class="text-orange">{{tr.tr_type}}</span></td>
										{% if tr.confirmed %}
											<td><span class="text-confirm">Confirmed</span></td>
										{% else %}
								      	<td><span class="text-pending">Pending</span></td>
										  {% endif %}
								    </tr>
								{% endfor %}
								    
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</section>
{% endblock %}