{% extends "temp2.html" %}
  {% block style %}
  <link href="/assets/css/circle.css" rel="stylesheet">
  {% endblock %}

  {% load tools %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-8 border-right">
                <div class="row">
                  <div class="col-md-6 my-auto">
                    <h4 class="font-weight-600">{{username}}</h4>
                    <p>{{email}}</p>
                  </div>
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <img src="/assets/img/elements/top_buyer.png" class="img-fluid">
                      <p class="font-weight-600">Buyer</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="clearfix">
                      <img src="/assets/img/elements/buyer_badge.png" class="img-fluid float-left">
                      <div class="xp-pad">
                        <span class="font-weight-600 text-orange">{{lvlxp}} </span><span class="font-weight-600">XP ( Level : {{lvl}} )</span>
                        <br>
                        <span class="product-p">{{rem}} XP to next Level</span>
                      </div>
                    </div>
                  </div>
                  {% if not isseller%}
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="/user/upgrade" class="btn btn-solved btn-md">
                        <img src="/assets/img/elements/seller_upgrade.png"> Upgrade to Seller
                      </a>
                      <p class="tb-f-small mb-0">To upgrade need <span class="font-oswald font-weight-600">{{upgrade_to_seller_cost}}</span> EUR in your Balance.</p>
                    </div>
                  </div>
                  {% endif %}
                  
                </div>


                {% if upgradable and rem == 0 %}
                <br>
                <div class="row">
                  <div class="col-md-6">
                   {% comment %}  <div class="clearfix">
                      
                      <div class="xp-pad">
                        <span class="font-weight-600">Upgrade cost is</span>
                        <br>
                        <span class="product-p">  <span class="font-weight-600 text-orange"></span> EUR</span>
                      </div>
                    </div> {% endcomment %}
                  </div>
                  <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="/user/upgradebuyer" class="btn btn-solved btn-md">
                        <img src="/assets/img/elements/seller_upgrade.png"> Upgrade to next level
                      </a>

                      <p class="tb-f-small mb-0">To upgrade need <span class="font-oswald font-weight-600">{{up_cost}}</span> EUR in your Balance.</p>
                      
                    </div>
                  </div>

                  </div>
                  
              {% endif %}
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 my-auto">
                    <div class="font-24">
                      <span class="text-orange light-font-700">
                        Balance
                      </span>
                      <span class="font-weight-600 font-oswald pl-5">
                        {{balanceusd}} EUR
                      </span>
                      <br>
                      <span class="light-font-700">
                        <img src="/assets/img/elements/bitcoin.png" class="img-fluid"> {{balancebtc}} BTC
                      </span>
                     {% comment %}  <span class="pl-3 light-font-700">
                        <img src="/assets/img/elements/xmr.png" class="img-fluid"> 0.045 XMR
                      </span> {% endcomment %}
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-md-12 my-auto">
                    <div class="font-24">
                    <a href='/user/deposit' >
                      <span class="light-font-700">
                        <img src="/assets/img/elements/deposit.png" class="img-fluid"> Deposit
                      </span>
                      </a>
                      <a href='/user/withdraw' >
                      <span class="pl-5 light-font-700">
                        <img src="/assets/img/elements/withdraw.png" class="img-fluid"> Withdraw
                      </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Overview</h4>
            <div class="row">
              {% comment %} <div class="col-lg-3 m-auto text-center">
                <div class="c100 p12 small">
                  <span>12%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Response rate</p>
              </div> {% endcomment %}
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int com_rate %} small">
                  <span>{{com_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Trade completed</p>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int act_rate %} small">
                  <span>{{act_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Transaction process</p>
              </div>
              <div class="col-lg-3 m-auto text-center">
                <div class="c100 p{% get_int disp_rate %} small">
                  <span>{{disp_rate}}%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
                <p class="product-p">Disputed trade</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-bottom">
            <h4 class="font-weight-600 mb-3">Statistics</h4>
            <div class="row">
              <div class="col-md-4">
                <img src="/assets/img/elements/trade.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{com_count}} TRADES</h6>
                <p class="product-p">Total Trade Completed</p>
              </div>
              <div class="col-md-4">
                <img src="/assets/img/elements/spend.png" class="img-fluid">
                <h6 class="font-weight-600 font-oswald text-orange mt-3">{{spent}} EUR</h6>
                <p class="product-p">Total Spend</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#deposit">Deposit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#withdraw">Withdraw</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="deposit" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Value</th>
                        <th scope="col">TXID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                   {% for tr in deposit_trs %}
                      <tr>
                        <td>{% format_date tr.date %}</td>
                        <td>BTC</td>
                        <td>{{ tr.amount }} </td>
                        <td><span class="text-orange">{{ tr.txid }}</span></td>
                        <td><span class="text-orange">{{ tr.address }}</span></td>
                        <td>{% if tr.confirmed %}<span class="text-confirm">Confirmed</span> {% else %} <span class="text-cancle">Not Confirmed {% endif %}</span></td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="withdraw" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Value</th>
                        <th scope="col">TXID</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tr in withdraw_trs %}
                      <tr>
                        <td>{% format_date tr.date %}</td>
                        <td>BTC</td>
                        <td>{{ tr.amount }} </td>
                        <td><span class="text-orange">{{ tr.txid }}</span></td>
                        <td><span class="text-orange">{{ tr.address }}</span></td>
                        <td>{% if tr.sent %}<span class="text-confirm">Sent</span> {% else %} <span class="text-cancle">Pending{% endif %}</span></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-bottom">
            <ul class="nav nav-pills nav-pills-nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#active">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#completed">Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Disputed">Disputed</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="active" class="container tab-pane active"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for act in active %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.seller.seller_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.seller.seller_negative}})</span>
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-pending">active</a>
                        </td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="completed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for act in completed %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{act.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date act True %}</span>
                        </td>
                        <td>
                          <a hred='/user/orderdetail/{{act.order.id}}' class="product-title">{% get_order_title act %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{act.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{act.seller.seller_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{act.seller.seller_negative}})</span> 
                            
                          </p>
                        </td>
                        <td>
                          <a href='/user/orderdetail/{{act.id}}' class="btn btn-md btn-delivered">completed</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="Disputed" class="container tab-pane fade"><br>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      {% for d in disputed %}
                      <tr>
                        <td>
                          <h4 class="font-weight-600">Order ID #{{d.id}}</h4>
                          <span class="font-small">Date:</span> <span class="font-weight-500">{% format_date d.date %}</span>
                        </td>
                        <td>
                        {% get_order d as o %}
                          <h5 class="product-title">{% get_title d %}</h5>
                          <p class="product-p">
                            <span class="text-orange font-weight-600">{{o.seller.username}}</span><sub>Le'</sub> 
                            <span class="text-green font-weight-600 ml-2">(+{{o.seller.buyer_positive}})</span> 
                            <span class="text-red font-weight-600 ml-2">(-{{o.seller.buyer_negative}})</span> 
                          </p>
                        </td>
                        <td>
                          <a href='/user/dispute/{{o.id}}/{{d.id}}' class="btn btn-md btn-pending">Pending</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}