{% extends "temp2.html" %}
{%load tools%}
{% block body %}
 <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <nav class="mb-2">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Deposit Balance</a></li>
                <li class="breadcrumb-item active"><a href="#">Payment Details</a></li>
                <li class="breadcrumb-item"><a href="#">Transaction History</a></li>
              </ol>
            </nav>
            
            <div class="row">
              <div class="col-md-12 mt-4">
                <p class="font-weight-600">Selected Cryptocurrencies</p>
                <a class="btn btn-pay-coin active" href="paymentdetails-btc.html">
                  <img src="/assets/img/elements/xmr.png" class="img-fluid"> 
                  <span class="pl-3">Monero (XMR)</span>
                </a>
               {% comment %}  <a class="btn btn-pay-coin" href="#">
                  <img src="/assets/img/elements/xrm.png" class="img-fluid"> 
                  <span class="pl-3">Etherum (XRM)</span>
                </a>
                <a class="btn btn-pay-coin" href="#">
                  <img src="/assets/img/elements/alt.png" class="img-fluid"> 
                  <span class="pl-3">AltCoins</span>
                </a> {% endcomment %}
              </div>
            </div>
            <div class="row my-5">
              <div class="col-md-4 m-auto text-center">
                <img src="{% get_qrcode btc_deposit_addr %}" class="img-fluid qr-code">
               {% comment %}  <p class="text-orange font-weight-600 text-center mt-3 font-small">Minimum payment: &#128;2</p> {% endcomment %}
              </div>
              <div class="col-md-8">
                <h4 class="font-oswald font-weight-400"> 1 XMR = <span class="text-orange">{{btc_rate}} EUR</span></h4>
                <p class="pt-3">
                  You can also buy Crypto with a credit card from third party providers.<br>
                  We recommend <span class="text-orange">CashApp</span> , <span class="text-orange">Bitcoin.com</span> , <span class="text-orange">CoinGate</span> or <span class="text-orange">MoonPay</span>.
                </p>
                <p>
                  This is your <span class="text-orange">Deposit</span> Address:
                </p>
                <div class="alert alert-light" role="alert">
                 {{btc_deposit_addr}}
                </div>
                {% comment %} <p>Total Pricing</p>
                <h4 class="font-oswald font-weight-400"> 18 USD = <span class="text-orange font-weight-600">0.00093826 BTC</span></h4> {% endcomment %}
              </div>
            </div>
            <p class="text-center pt-4">You can send BTC to it at any time and it will be credited to your account.</p>
          </div>
        </div>
      </div>
      </div>
  </section>

  {% endblock %}