{% extends "temp2.html" %}
{% block body %}
{% load tools %}

<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-8 m-auto text-center">
                <h1 class="font-oswald font-weight-bold">LOW BALANCE</h1>
                <p class="pt-3">
                  You don't have sufficient balance to upgrade.<br>
                  We recommend to fund your account with minimum 
                  <span class="text-orange font-weight-600 font-oswald">{{am_btc}} BTC <> {{am_eur}} EUR</span>.
                </p>
                <h4 class="font-oswald font-weight-400"> Current Balance = <span class="text-orange font-weight-600">{{balanceusd}} BTC</span></h4>
                <div class="mt-5">
                  <a href="/user/deposit" class="btn-submit">Deposit Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

  {% endblock %}