{% extends "temp2.html" %}
{% load tools %}
{% block body %}
  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-4">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="/user/myorders">My Orders</a></li>
                  </ol>
                </nav>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3">
    <div class="container">
      <div class="row">
      {% for selling in sellinngs %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              
            </div>
            <div class="card-body">
              <h5 class="product-title">{% comment %} {% get_elem selling 'prodname' %} {% endcomment %}</h5>
              <p class="product-p">
              {% get_elem selling 'seller'  as sel %}
                <span class="text-orange font-weight-600"></span>{{sel.username}}<sub>Le'</sub> 
               <span class="text-green font-weight-600 ml-2">(+{{sel.seller_positive}})</span> 
              <span class="text-red font-weight-600 ml-2">(-{{sel.seller_negative}})</span> 
              </p>
              
              <p class="product-p">
                Payment Method <br>
                <span class="font-weight-600">BTC</span>
              </p>
              <h1 class="text-center font-weight-600 font-oswald price">
                &#128;1.00
                <br>
                <span class="replace-text">Replace time : {% get_elem selling 'replace_time' %} minutes</span>
              </h1>
              <p class="product-p">
                Quantity <br>
                <span class="font-weight-600">{% get_elem selling 'quantity' %} Sold</span>
              </p>
            </div>
            <div class="card-footer">
              <a type="button" class="btn btn-sm btn-submit" href="/user/orderdetail/{% get_elem selling 'ordid' %}">Order Details</a>
            </div>
          </div>
        </div>

        {% endfor %}
        
        
      </div>
    </div>
  </section>
 {% endblock %}