{% extends "temp2.html" %}
{% block body %}

  <section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="row">
              <div class="col-md-6">
                <nav class="mb-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="/user/profile">Settings</a></li>
                  </ol>
                </nav>
              </div>
              {% if not isseller%}
              <div class="col-md-6 m-auto">
                    <div class="text-center">
                      <a href="/user/upgrade" class="btn btn-solved btn-md">
                        <img src="/assets/img/elements/seller_upgrade.png"> Upgrade to Seller
                      </a>
                      <p class="tb-f-small mb-0">To upgrade need <span class="font-oswald font-weight-600">{{upgrade_to_seller_cost}}</span> EUR in your Balance.</p>
                    </div>
                  </div>
                  {% endif %}
            </div>
          </div>
            <div class="row mt-3">
              <div class="col-md-5">
                <div class="box-bottom">
                <h4 class="py-3 font-weight-bold">Profile Details</h4>
                <form method='post'>
                  {% csrf_token %}
                 {% comment %}  <div  class="mb-3">
                    <input name='username' type="text" class="form-control" placeholder="John Smith" value="{{username}}"/>
                  </div> {% endcomment %}
                  <div class="mb-3">
                    <input name='email' type="text" class="form-control" placeholder="Email@mail.com" value ="{{email}}"/>
                  </div>
                  {% comment %} <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Some info"/>
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="More info"/>
                  </div> {% endcomment %}
                  <div class="invalid-feedback" style="{% if emailerror %} display: block; {% else %} display:none; {% endif %}">
                      Email is already used.
                    </div>
                  <div class="mt-2">
                    <input type="submit" class="btn-submit" value="Save">
                  </div>
                </form>
              </div>
              </div>
              <div class="col-md-7">
                <div class="box-bottom">
                <form method='post'>
                {% csrf_token %}
                  <h4 class="py-3 font-weight-bold">Payment Address of Cryptocurrencies</h4>
                  <div class="mb-3">
                    <label>Monero (XMR)</label>
                    <input name='btcdeposit' value='{{btcaddress}}' type="text" class="form-control" placeholder="Monero Withdraw Address"/>
                    <div class="invalid-feedback" style="{% if btcerror %} display: block; {% else %} display:none; {% endif %}">
                      Please provide a valid Address.
                    </div>
                  </div>
                  {% comment %} <div class="mb-3">
                    <label>AltCoins</label>
                    <input type="text" class="form-control" placeholder="AltCoins Payment Address"/>
                    <div class="invalid-feedback" style="display: block;">
                      Please provide a valid Address.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label>Ethereum(XMR)</label>
                    <input type="text" class="form-control" placeholder="Ethereum Payment Address"/>
                    <div class="invalid-feedback" style="display: block;">
                      Please provide a valid Address.
                    </div>
                  </div> {% endcomment %}
                   <div class="m-auto">
                      <label class="font-weight-600 my-2">PIN</label>
                      <div class="row">
                        <div class="col m-auto text-center">
                          <input name='addpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='addpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                      </div>
                      <div class="invalid-feedback" style="{% if  pinaddrerror %} display: block; {% else %} display:none; {% endif %}">
                      PIN incorrect
                      </div>
                    </div>
                  <div class="mt-4">
                    <input type="submit" class="btn-md btn-submit" value="Save">
                  </div>
                </form>
                </div>
              </div>
            </div>
            {% comment %} <div class="col-md-6">
              <div class="box-bottom">
                <h4 class="py-3 font-weight-bold">Account Deactivation</h4>
                <div class="row">
                  <div class="col-md-12">
                    <p class="font-weight-bold">What happens when you deactivate your account?</p>
                    <ul class="pl-4">
                      <li class="mb-2">Your Profile and sellings won't be shown on German Plaza anymore</li>
                      <li class="mb-2">Active orders will be cancelled.</li>
                      <li class="mb-2">You won't be able to reactivate your Profile.</li>
                    </ul>
                  </div>
                </div>
                <form action="">
                  <div class="my-3">
                    <label>I am leaving because</label>
                    <select class="form-control">
                      <option value="">Reasons of Leaving</option>
                    </select>
                  </div>
                  <div class="mt-4">
                    <input type="submit" class="btn btn-danger font-weight-600" value="Deactivate Account">
                  </div>
                </form>
              </div>
            </div> {% endcomment %}
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="box-bottom">
                <h4 class="py-3 font-weight-bold">Security</h4>
                <form method='post'>
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input name='oldpass' type="password"  class="form-control" placeholder="Current Password"/>
                      </div>
                    </div>
                   
                    <div class="col-md-6">
                      <div class="mb-3">
                        <input name='newpass' type="password" class="form-control" placeholder="New Password"/>
                      </div>
                    </div>
                     <div class="col-md-6">
                      <div class="mb-3">
                        <input name='confirmnewpass' type="password" class="form-control" placeholder="Confirm Password"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="font-small text-red">8 characters or longer. Combine uppercase and lowercase letters with numbers at least 6 numbers</label>
                      </div>
                    </div>
                  </div>
                  <div class="invalid-feedback" style="{% if  passerr %} display: block; {% else %} display:none; {% endif %}">
                      {{passmsg}}
                      </div>
                  <div>
                    <input type="submit" class="btn-submit" value="Update">
                  </div>
                </form>
                <form method='post' class="mt-3">
                {% csrf_token %}
                  <div class="row mb-3 g-1">
                    <div class="col-md-6 m-auto">
                      <label class="font-weight-600 my-2">Current Withdrawal PIN</label>
                      <div class="row">
                        <div class="col m-auto text-center">
                          <input name='oldpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='oldpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='oldpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='oldpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 m-auto">
                      <label class="font-weight-600 my-2">New Withdrawal PIN</label>
                      <div class="row">
                        <div class="col m-auto text-center">
                          <input name='newpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='newpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='newpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='newpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                      </div>
                    </div>
                    <div class="invalid-feedback" style="{% if  pinerr %} display: block; {% else %} display:none; {% endif %}">
                      old pin is incorrect
                      </div>
                    <div class="col-md-12 mt-3 text-center">
                      <input type="submit" class="btn btn-submit-outline" value="Change Pin">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}