{% extends "temp2.html" %}
{% load tools %}
{% block body %}
    <section class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <div class="box">
                        <nav class="mb-3">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active mb-2"><a href="#">Dipute</a></li>
                            </ol>
                        </nav>

                      <form action='/user/dispute/{{order.id}}' method='post'>
                      {% csrf_token %}
                        {% define 0 as count %}
                        {% for holder in holders %}
                        {% get_holder_childs holder as detailsorders %}
                      
                        {% for orderd in detailsorders %}
                        <div class="row py-3 border-bottom">
                            <div class="col-md-10 mb-2 m-auto">
                              <h5 class="font-weight-600 mb-1">Order ID #{{oderd.id}}</h5>
                              <p class="mb-1">
                                <span class="font-small">Date:</span>
                                <span class="font-weight-500">{% format_date order.date %}</span>
                              </p>
                                <p class="font-weight-500 mb-0">{{orderd.prodname}}</p>
                                <p class="bottom-2">{{ holder.seller }}</p>
                            </div>
                            <div class="col-md-2 mb-2 m-auto">
                              <div class="form-check">
                                <input name='seller{{count}}' value ='{{holder.seller}}' hidden />
                                <input name='orderid{{count}}' value='{{orderd.id}}' hidden </input>
                                <input name='choice{{count}}' class="form-check-input position-static" type="checkbox">
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% increment count as count %}
                        {% endfor %}
                       
                        
                        <div class="row">
                            <div class="col-md-12 mt-4">
                                <button type='submit' class="btn btn-submit float-right">Raise Dispute</button>
                            </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}