{% extends "temp2.html" %}
{% block body %}
<section class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <nav class="mb-2">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Deposit</a></li>
                <li class="breadcrumb-item"><a href="#">Payment Details</a></li>
                <li class="breadcrumb-item"><a href="#">Transaction History</a></li>
              </ol>
            </nav>

            <div class="row my-4">
              <div class="col-md-6">
                <h4 class="font-weight-600 mb-1 font-oswald">Total Balance</h4>
                <h4 class="font-weight-600 font-oswald">{{totalbalancebtc}} BTC = <span class="text-orange">{{totalbalanceusd}} EUR</span></h4>
              </div>
              <div class="col-md-6">
                <h4 class="font-weight-600 mb-1 font-oswald">Available Balance to Withdraw</h4>
                <h4 class="font-weight-600 font-oswald">{{balancebtc}} BTC = <span class="text-green">{{balanceusd}} EUR</span></h4>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 mt-2">
                <p class="font-weight-600">Select Cryptocurrencies to Withdraw</p>
                <a class="btn btn-pay-coin active" href="paymentdetails-btc.html">
                  <img src="/assets/img/elements/btc.png" class="img-fluid"> 
                  <span class="pl-3">Bitcoin (BTC)</span>
                </a>
               {% comment %}  <a class="btn btn-pay-coin" href="#">
                  <img src="/assets/img/elements/xrm.png" class="img-fluid"> 
                  <span class="pl-3">Etherum (XRM)</span>
                </a>
                <a class="btn btn-pay-coin" href="#">
                  <img src="/assets/img/elements/alt.png" class="img-fluid"> 
                  <span class="pl-3">AltCoins</span>
                </a> {% endcomment %}
              </div>
            </div>
            <form class="mt-5" method='post'>
            {% csrf_token %}
              <div class="row">
                <div class="col-md-12 my-2">
                  <p class="font-weight-600">Amount</p>
                </div>
                <div class="col-md-5 m-auto">
                  <input disabled type="text" name="" class="form-control" placeholder="EUR">
                </div>
                <div class="col-md-2 m-auto text-center">
                  {% comment %} <h5 class="font-weight-600 text-light">OR</h5> {% endcomment %}
                </div>
                <div class="col-md-5 m-auto">
                  <input type="text" name="amount" class="form-control" placeholder="0">
                </div>
                 
                <div class=" col-md-12 mt-5 text-center">
                  <p class="font-weight-600 font-oswald">Payment Address</p>
                  <div class="alert alert-light font-oswald">
                   {{address}}
                  </div>
                </div>
                <center>
                <div class="col-md-5 mt-5 text-center">
                <p class="font-weight-600 font-oswald">Withdrawal ping</p>
                <div class='row'>
                        <div class="col m-auto text-center">
                          <input name='withdrawpin1' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='withdrawpin2' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='withdrawpin3' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                        <div class="col m-auto text-center">
                          <input name='withdrawpin4' type="password" maxlength="1" class="form-control pin-form-control form-control-lg"/>
                        </div>
                      </div>
                      </div>
                      </center>
                <div class="col-md-12 mt-2 text-center">
                  <input type="submit" name="" class="btn btn-submit" value="Withdraw">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
  </section>
  {% endblock %}